@import '../../utils/index';

.ip-telephone {
  &__hero-imageblock {
    @include laptop {
      max-width: 510px;
      max-height: 344px;

      img {
        max-width: 510px;
        max-height: 344px;
      }
    }
  }

  &__accent {
    display: none;
    padding: 0 6px 5px 6px;
    margin-left: 0px;

    @include tablet {
      display: none;
    }

    @include mobile-390 {
      display: inline;
    }

    @include tablet {
      display: none;
    }

    @include tablet-1024 {
      display: inline;
    }
  }

  &__accent-mobile {
    padding: 0 6px 5px 6px;
    display: inline;
    margin-left: -6px;

    &:first-child {
      margin-left: 0px;
    }

    @include mobile-390 {
      display: none;
    }

    @include tablet {
      display: inline;
    }

    @include tablet-1024 {
      display: none;
    }
  }
}
