@import '../../utils/index';

.ip-telephone {
  &__hero-textblock {
    @include laptop {
      min-width: 577px;
    }
  }

  &__hero-imageblock {
    img {
      max-width: 272px;
      max-height: 147px;
    }
    @include tablet {
      margin-top: 135px;
      margin-left: 5px;

      img {
        width: 324px;
        height: 205px;
        max-width: 394px;
        max-height: 205px;
      }
    }

    @include tablet-1024 {
      margin-top: 70px;
      max-width: 405px;
      max-height: 305px;

      img {
        width: 405px;
        height: 285px;
        max-width: 405px;
        max-height: 285px;
      }
    }

    @include laptop {
      max-width: 510px;
      max-height: 344px;
      margin-left: $spacer * 9;
      width: 510px;
      height: 344px;
      margin-top: -12px;

      img {
        max-width: 510px;
        max-height: 344px;
        width: 510px;
        height: 344px;
      }
    }
  }

  &__accent {
    display: none;
    padding: 0 6px 5px;
    margin-left: 0px;

    @include tablet {
      display: none;
    }

    @include mobile-390 {
      display: inline;
    }

    @include mobile-414 {
      margin-left: -5px;
    }

    @include tablet {
      display: none;
      margin-left: 0px;
    }

    @include tablet-980 {
      display: inline;
      margin-left: -5px;
    }

    @include laptop {
      margin-left: 0px;
    }
  }

  &__accent-mobile {
    padding: 0 6px 5px 6px;
    display: inline;
    margin-left: -6px;

    &:first-child {
      margin-left: 0px;
    }

    @include mobile-390 {
      display: none;
    }

    @include tablet {
      display: inline;
    }

    @include tablet-980 {
      display: none;
    }
  }

  &__focus-header {
    margin-bottom: $spacer * 5;

    @include tablet {
      margin-bottom: $spacer * 11;

      h2 {
        font-size: 26px;
      }
    }

    @include laptop {
      h2 {
        font-size: 32px;
      }
    }
  }

  &__cards {
    @include tablet {
      display: grid;
      grid-gap: $spacer * 4;
      grid-template-columns: repeat(2, 1fr);
      max-width: 100%;

      @include laptop {
        grid-gap: $spacer * 6;
      }
    }
  }

  &__card {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0px;
    }

    @include tablet {
      margin-bottom: 0px;

      &:first-child,
      &:last-child {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }

    @include laptop {
      min-width: 540px;
      max-width: 100%;
    }
  }

  &__card_short {
    @include tablet {
      padding-bottom: 30px;
    }
  }

  &__brands {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 15px;
    margin: $spacer * 3 0 $spacer * 2;
    padding-left: 30px;
    padding-right: 30px;

    @include mobile-520 {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-row-gap: 20px;
      grid-column-gap: 42px;
      margin-top: $spacer * 6;

      @include tablet {
        margin-left: 30px;
        padding: 0px;
        margin-top: 0px;
      }
    }
  }

  &__brand {
    max-width: 80px;

    @include mobile-520 {
      max-width: 100px;
    }

    @include smartphone {
      max-width: 124px;
    }

    @include tablet {
      max-width: 90px;
    }

    @include laptop {
      max-width: 124px;
    }
  }

  &__brand-caption {
    text-align: center;
    @include font($normal, 12px, $gray2);
    line-height: 150%;

    @include smartphone {
      font-size: 14px;
    }
  }

  &__link {
    margin-top: $spacer * 3;
    display: block;
  }

  &__interface {
    @include tablet-1024 {
      padding-bottom: 100px;
    }

    @include laptop {
      padding-bottom: 150px;
    }
  }

  &__methods {
    @include tablet-1024 {
      padding-top: 100px;
    }

    @include laptop {
      padding-bottom: 150px;
    }
  }
}
