@import '../../utils/index';

.programms {
  &__focus-header {
    @include laptop {
      max-width: 503px;
    }
  }

  &__focus-textblock {
    @include laptop {
      margin-right: 30px;
    }
  }

  &__cards {
    padding-bottom: 0px;
  }

  &__card {
    @include laptop {
      max-height: 240px;
    }

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__card-header {
    margin: $spacer * 3 0 $spacer * 2;
  }
}

.pc {
  &__hero-imageblock {
    max-width: 247px;
    max-height: 199px;

    img {
      max-width: 247px;
      max-height: 199px;
    }

    @include tablet {
      margin: 50px 0 0 $spacer;
      max-height: 284px;
      max-width: 280px;

      img {
        max-height: 284px;
        max-width: 280px;
      }
    }

    @include tablet-1024 {
      margin: 0px 0 0 $spacer;
      max-height: 368px;
      max-width: 350px;

      img {
        max-height: 368px;
        max-width: 350px;
        width: 350px;
        height: 368px;
      }
    }

    @include laptop {
      max-width: 464px;
      max-height: 436px;
      margin: -$spacer * 6 0 0 70px;

      img {
        max-width: 464px;
        max-height: 436px;
        width: 464px;
        height: 436px;
      }
    }
  }

  &__accent {
    display: none;

    @include mobile-362 {
      display: inline;
    }
  }

  &__accent_mobile {
    display: inline-block;
    padding-left: 9px;
    margin-left: -9px;

    @include mobile-362 {
      display: none;
    }
  }
}
.smartphone {
  &__hero-imageblock {
    max-width: 247px;
    max-height: 199px;

    img {
      max-width: 247px;
      max-height: 199px;
    }

    @include tablet {
      margin: 30px 0 0 $spacer;
      max-height: 244px;
      max-width: 240px;

      img {
        max-height: 244px;
        max-width: 240px;
      }
    }

    @include tablet-1024 {
      margin: -30px 0 0 $spacer;
      max-height: 344px;
      max-width: 340px;

      img {
        max-height: 344px;
        max-width: 340px;
        width: 340px;
        height: 344px;
      }
    }

    @include laptop {
      max-width: 418px;
      max-height: 445px;
      margin-top: -80px;
      margin-left: 92px;

      img {
        max-width: 418px;
        max-height: 445px;
        width: 418px;
        height: 445px;
      }
    }
  }
  &__hero-break {
    display: block;

    @include mobile-s {
      display: none;
    }

    @include smartphone {
      display: none;
    }
  }
}
