@import '../utils/';

.body {
  &.overlay_gray {
    background-color: $light-gray;

    @include laptop {
      background-color: $white;
    }
  }
  &.lock {
    overflow: hidden;
  }
}

.container {
  margin: 0 auto;
  width: calc(100vw - 30px);

  @include desktop {
    width: calc(100vw - 330px);
    max-width: 1110px;
  }

  @include wide-screen {
    width: calc(100vw - 165px);
    max-width: auto;
  }

  @include laptop {
    width: calc(100vw - 330px);
    max-width: 1110px;
  }

  @include tablet {
    width: calc(100vw - 120px);
  }

  &.container-bottom {
    margin-top: auto;
    position: fixed;
    bottom: $spacer * 4;
    @include flex-row;
    justify-content: center;
    padding: 0 $spacer * 3;
  }

  &_flex {
    @include flex-row;
  }
}

.container_flex-col {
  @include flex-col;
}

.overlay_gray {
  background-color: $light-gray;
}

.container_adaptive {
  @include flex-col;
  justify-content: center;

  @include laptop {
    @include flex-row;
  }

  &-reverse {
    @include flex-row;
    @include laptop {
      @include flex-col;
      align-items: flex-start;
    }
  }
}

.container_grid {
  @include laptop {
    display: grid;
    grid-template-columns: repeat(3, 78px);
    grid-template-rows: repeat(2, 37px);
    grid-row-gap: 10px;
    margin-right: 30px;
    margin-left: 22px;
  }
}
