@import '../utils/';

body,
html {
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: calc(100vw - 30px);

  @include desktop {
    max-width: auto;
  }

  @include laptop {
    max-width: 1100px;
  }

  @include tablet {
    width: calc(100vw - 120px);
  }

  &.container-bottom {
    margin-top: auto;
    @include flex-row;
    justify-content: center;
    height: 70px;
    display: none;
    padding-bottom: 30px;
  }

  &_flex {
    @include flex-row;
  }
}

.container_flex-start {
  @include flex-row(align-items-start);
}

.container_flex-col {
  @include flex-col;
}

.container_flex-center {
  @include flex-center;
}

.container_adaptive {
  @include flex-col;
  justify-content: center;

  @include laptop {
    @include flex-row;
    justify-content: flex-start;
  }

  &_full {
    @include flex-col;
    @include laptop {
      @include flex-row;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  &-reverse {
    @include flex-row;
    @include tablet {
      @include flex-col;
      align-items: flex-start;
    }
  }
}

.background_gray {
  background-color: $light-gray;

  .startuse {
    background-color: $light-gray;

    img {
      background-color: $light-gray;
    }
  }
}
