@import '../utils/';

.body {
  &.overlay_gray {
    background-color: $light-gray;

    @include laptop {
      background-color: $white;
    }
  }
  &.lock {
    overflow: hidden;
  }
}

.container {
  margin: 0 auto;
  width: calc(100vw - 30px);

  @include wide-screen {
    max-width: auto;
  }

  @include laptop {
    width: calc(100vw - 330px);
    max-width: 1110px;
  }

  @include tablet {
    width: calc(100vw - 40px);
  }

  &.container-bottom {
    margin-top: auto;
    position: fixed;
    bottom: $spacer * 4;
    @include flex-row;
    justify-content: center;
    padding: 0 $spacer * 3;
  }

  &_flex {
    @include flex-row;
  }
}

.container_flex-start {
  @include flex-row-start;
}

.container_flex-col {
  @include flex-col;
}

.container_flex-center {
  @include flex-center;
}

.background_gray {
  background-color: $light-gray;
}

.container_adaptive {
  @include flex-col;
  justify-content: center;
  align-items: center;
  max-width: 100%;

  @include laptop {
    @include flex-row;
  }

  &-reverse {
    @include flex-row;
    @include laptop {
      @include flex-col;
      align-items: flex-start;
    }
  }
}

.mobile-hidden {
  display: none !important;

  @include laptop {
    display: flex !important;
  }
}
