.focus {
  background-color: $light-gray;
  padding-top: $spacer * 14;

  @include tablet {
    padding-top: 100px;
  }

  &__header {
    margin-bottom: $spacer * 2;

    @include tablet {
      margin-bottom: $spacer * 4;
    }
  }

  &__caption {
    @include font($normal, 15px, $gray);
    line-height: 155%;

    @include smartphone {
      font-size: 18px;
    }

    @include laptop {
      font-size: 20px;
    }
  }

  &__list {
    margin-top: $spacer * 2;
  }

  &__wrapper {
    @include flex-col;
    align-items: center;

    @include tablet {
      @include flex-row;
    }
  }
}
