.stats {
  &__articles {
    @include flex-col;
    margin: $spacer * 8 0 $spacer * 16;

    @include tablet {
      @include flex-row;
      align-items: flex-start;
      margin-top: $spacer * 5;
      margin-bottom: 0px;
    }

    @include laptop {
      margin-top: $spacer * 14;
      margin-bottom: 100px;
    }
  }

  &__item {
    margin-bottom: $spacer * 4;

    &:last-child {
      margin-bottom: 0;
    }

    @include tablet {
      margin-bottom: 0;
      margin-right: $spacer * 7;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__header {
    margin-bottom: $spacer;
    @include tablet {
      font-size: 22px;
    }

    @include laptop {
      font-size: 32px;
      line-height: 43px;
    }
  }

  &__caption {
    color: $gray;
    line-height: 23px;

    @include tablet {
      line-height: 20px;
      font-size: 13px;
    }

    @include tablet-1024 {
      font-size: 14px;
    }
    @include laptop {
      font-size: 16px;
    }
  }
}

.business__stats {
  @include tablet {
    padding-bottom: 100px;

    @include laptop {
      padding-bottom: 0px;
    }
  }
}
