.startuse {
  margin-top: 80px;
  margin-bottom: 80px;

  @include tablet {
    padding-bottom: 80px;
    padding-top: 100px;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__container {
    @include flex-col;
    align-items: center;
    justify-content: center;

    @include tablet {
      @include flex-row;
    }
  }

  &__header {
    margin-bottom: $spacer * 4;

    @include laptop {
      margin-top: -42px;
    }
  }

  &__text {
    line-height: 23.25px;
    margin-bottom: 15px;

    @include tablet {
      margin-bottom: $spacer * 3;
      line-height: 31px;
    }
  }

  &__button {
    display: none;
    margin-top: $spacer * 5;
    flex-shrink: 0;
    max-height: 55px;
    order: 2;
    line-height: normal;

    @include laptop {
      display: block;
      margin-top: $spacer * 7;
    }

    &_mobile {
      display: block;
      width: 100%;

      @include tablet {
        display: none;
      }
    }
  }

  &__image {
    display: none;
    @include smartphone {
      display: block;
      align-self: center;
    }

    img {
      width: 350px;

      @include smartphone {
        display: block;
        align-self: center;
        margin-top: 20px;
      }

      @include tablet {
        width: 408px;
        margin-top: 0px;
      }

      @include laptop {
        width: 608px;
        height: 518px;
      }
    }
  }

  &__image_mobile {
    display: block;
    margin: $spacer * 5 0;
    min-width: 320px;
    max-width: 320px;

    img {
      max-width: 320px;
    }

    @include smartphone {
      display: none;
    }
  }

  &__list-item {
    @include tablet {
      margin: 10px 0px !important;
      line-height: 24.8px !important;
      font-size: 16px;
      &:last-child {
        margin-bottom: 0px !important;
      }
      &:first-child {
        margin-top: 0px !important;
      }
    }
  }

  &_gray {
    background-color: $light-gray;
    padding-bottom: 80px;
    padding-top: 80px;
    margin-bottom: 0px;
    margin-top: 0px;

    @include tablet {
      padding-top: 150px;
    }
  }
}
