.lk {
  &__card {
    padding: $spacer * 4;
    @include flex-col;
    position: relative;
    z-index: 2;

    @include tablet {
      padding: $spacer * 6 $spacer * 6;
    }

    @include laptop {
      padding: $spacer * 10 $spacer * 6;
    }

    &_bottom {
      display: flex;
      flex-direction: column;
      color: $white;
      min-height: 230px;

      @include smartphone {
        min-height: auto;
      }

      @include tablet {
        display: grid;
        grid-template-columns: 500px auto;
        align-items: center;
        padding: $spacer * 4 $spacer * 6;
      }

      @include laptop {
        padding: $spacer * 6 $spacer * 10;

        min-height: auto;
        height: 116px;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
      }

      .lk__text {
        color: $light-gray !important;
        margin-top: $spacer * 2;
        margin-bottom: $spacer * 4;
        line-height: 21px;

        @include tablet {
          margin-bottom: 0px;
        }

        @include laptop {
          margin-top: $spacer;
          line-height: 24px;
          font-size: 15px;
        }

        @include desktop {
          white-space: nowrap;
          font-size: 16px;
        }
      }

      h4 {
        color: $white;
      }

      @include laptop {
        flex-direction: row;
      }
    }
  }

  &__tabs {
    margin-top: $spacer * 5;

    @include flex-col;

    &_mobile {
      margin-top: $spacer * 5;

      @include laptop {
        display: none;
      }
    }
  }

  &__tabs-items {
    @include laptop {
      img {
        max-width: 1000px;
      }
      margin-top: $spacer * 5;
    }

    @include laptop {
      width: 900px;
    }
  }

  &__buttons {
    height: 53px;
  }

  &__button {
    flex-grow: 1;
  }

  &__support {
    @include flex-col;
    color: $white;

    h4 {
      font-size: 16px;
      line-height: 21px;

      @include tablet {
        font-size: 20px;
        line-height: 26px;
        max-width: 600px;
      }
    }

    @include tablet {
      &__text {
        color: $light-gray !important;
        margin-bottom: $spacer * 2;
        margin-right: 33px;
        line-height: 24.8px;
      }
    }
  }

  &__whatsapp {
    @include flex-col;

    @include laptop {
      margin-left: auto;
      margin-bottom: 0;
      @include flex-row;
    }
  }

  &__whatsapp-button {
    width: 100%;

    @include laptop {
      width: 239px;
      justify-content: unset;
    }

    justify-content: center;
  }

  &__answer-time {
    color: $light-gray;
    margin-top: $spacer * 2;
    text-align: center;
    width: 100%;

    @include tablet {
      margin-top: $spacer * 4;
    }

    @include laptop {
      text-align: left;
      max-width: 115px;
      margin-left: $spacer * 4;
      margin-top: 0;
    }
  }

  &__collapse {
    margin-bottom: $spacer * 3;
    overflow: visible;

    &_active {
      padding-bottom: $spacer * 3;
      border-bottom: 1px solid $dim-gray;

      .collapse__activator {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }

    .collapse__activator {
      min-height: 25px;
      padding-bottom: $spacer * 3;
      border-bottom: 1px solid $dim-gray;

      @include laptop {
        border: none;
        padding-bottom: none;
      }
    }
  }

  &__header {
    color: $gray;
  }

  &__image {
    min-width: 100%;
    min-height: 100%;
  }
}
