.office {
  &__scheme {
    display: none;

    @include tablet {
      display: block;
      max-width: 452px;
    }

    @include laptop {
      margin-left: -70px;
      max-width: 602px;
    }
  }

  &__scheme-mobile {
    display: block;
    margin-top: 40px;
    max-height: 501px;

    @include tablet {
      display: none;
    }
  }

  &__article {
    @include tablet {
      max-height: 235px;
    }
  }

  &__hero-imageblock {
    margin-top: 10px;
    @include tablet {
      img {
        width: 326px;
        height: 356px;
      }
    }
    @include tablet-1024 {
      img {
        min-width: 418px;
        max-width: 418px;
        max-height: 309px;
      }
    }

    @include laptop {
      min-width: 548px;
      max-width: 548px;
      min-height: 300px;
      max-height: 300px;
      width: 548px;
      height: 300px;
      margin-left: 27px;
      margin-top: 10px;

      img {
        min-width: 548px;
        max-width: 548px;
        min-height: 300px;
        max-height: 300px;
        width: 548px;
        height: 300px;
      }
    }

    @include desktop {
      margin-left: 56px;
    }
  }
}
