.sales {
  &__hero {
    margin-bottom: 80px;

    @include tablet {
      margin-bottom: 150px;
    }
  }

  &__graphic {
    position: relative;
    display: none;
    top: 0;
    left: 0;
    &::before {
      content: url(/sales-graphic.svg);
      position: absolute;
      top: -50px;
      left: 3%;
    }

    @include tablet {
      display: block;
      &::before {
        z-index: 1;
      }
    }
  }

  &__content {
    margin-top: 0px;
    position: relative;
    z-index: 2;

    @include tablet {
      margin-top: $spacer * 11;
    }
  }

  &__header {
    @include tablet {
      text-align: center;
    }
  }

  &__scheme-mobile {
    display: block;
    margin-top: $spacer * 8;
    @include tablet {
      display: none;
    }
  }

  &__graphic-mobile {
    display: block;
    position: relative;
    z-index: 1;
    &::before {
      content: url(/sales-graphic-mobile.svg);
      position: absolute;
      top: -525px;
      left: 50%;
    }

    @include mobile-425 {
      &::before {
        left: 60%;
      }
    }

    @include mobile-l {
      &::before {
        left: 65%;
      }
    }

    @include mobile-s {
      &::before {
        left: 70%;
      }
    }

    @include smartphone {
      &::before {
        left: 77%;
      }
    }

    @include tablet-768 {
      &::before {
        left: 78%;
      }
    }

    @include tablet-x {
      &::before {
        left: 79%;
      }
    }

    @include tablet-m {
      &::before {
        left: 80%;
        top: -512px;
      }
    }

    @include tablet-l {
      &::before {
        left: 82%;
        top: -508px;
      }
    }

    @include tablet {
      display: none;
    }
  }
}
