.scope-faq {
  &__question {
    font-size: 16px;
    line-height: 130%;
    .collapse__arrow {
      margin-left: 15px;
    }

    @include mobile-m {
      .collapse__arrow {
        margin-left: auto;
      }
    }

    @include mobile-s {
      .collapse__arrow {
        margin-left: auto;
      }
    }

    @include smartphone {
      font-size: 17px;
      .collapse__arrow {
        margin-left: auto;
      }
    }

    @include tablet {
      font-size: 20px;
    }
  }

  &__paragraph {
    @include laptop {
      max-width: 926px;
    }
  }
}
