.scopes {
  @include tablet {
    padding-bottom: 150px;
  }

  &__header {
    margin-bottom: $spacer * 5;
    @include tablet {
      text-align: center;
      margin-bottom: 0;
    }
  }

  &__cards {
    @include tablet {
      @include flex-row;
      padding-top: $spacer * 11;
    }
  }

  &__card {
    padding-top: $spacer * 4;

    margin-bottom: $spacer * 3;

    &:last-child {
      margin-bottom: 0px;
    }

    @include tablet {
      margin-bottom: 0px;
    }

    @include laptop {
      margin-right: $spacer * 6;
      max-width: 255px;
      min-width: 255px;
      max-height: 250px;
      min-height: 250px;
      &:last-child {
        margin-right: 0px;
      }
    }
  }

  &__card-header {
    padding: $spacer * 3 $spacer * 4 $spacer * 4;
    box-sizing: border-box;
  }

  &__card-header-home {
    padding-top: 0px;
  }

  &__card-icon {
    max-width: 255px;
    min-width: 255px;
    max-height: 159px;
    min-width: 211px;
  }

  &__card-away {
    padding-top: $spacer;

    img {
      max-height: 154px;
      min-height: 154px;
      max-width: 255px;
      min-width: 255px;
    }
  }

  &__card-header-away {
    padding-top: $spacer * 4;
  }
}
