.scopes {
  padding-bottom: 80px;

  @include tablet {
    padding-bottom: 150px;
  }

  &__header {
    margin-bottom: $spacer * 5;

    @include smartphone {
      text-align: center;
    }

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__cards {
    @include tablet {
      @include flex-row;
      padding-top: $spacer * 11;
    }
  }

  &__card {
    display: block;
    padding-top: $spacer * 2;
    text-align: center;
    margin-bottom: $spacer * 3;
    min-height: 238px;
    max-height: 238px;

    &:last-child {
      margin-bottom: 0px;
    }

    @include mobile-s {
      max-height: 248px;
      min-height: 248px;
      padding-top: 20px;
    }

    @include smartphone {
      max-height: 248px;
      min-height: 258px;
      padding-top: $spacer * 2;
    }

    @include tablet {
      margin-bottom: 0px;
      margin-right: $spacer * 3;
      max-width: 200px;
      min-width: 200px;
      min-height: 210px;
      box-sizing: border-box;

      &:last-child {
        margin-right: 0px;
      }

      @include tablet-1024 {
        margin-right: $spacer * 4;
        min-width: 210px;
        max-width: 210px;
      }
    }

    @include laptop {
      margin-right: $spacer * 6;
      max-width: 255px;
      min-width: 255px;
      max-height: 250px;
      min-height: 250px;
      padding-top: $spacer * 4;

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  &__card-header {
    padding: $spacer * 3 $spacer * 4 $spacer * 4;
    box-sizing: border-box;
    max-width: 250px;
    text-align: left;

    @include mobile-l {
      max-width: 100%;
      text-align: center;
      h4 {
        font-size: 18px;
      }
    }

    @include mobile-s {
      max-width: 100%;
      text-align: center;
      h4 {
        font-size: 19px;
      }
    }

    @include smartphone {
      max-width: 100%;
      text-align: center;
      h4 {
        font-size: 20px;
      }
    }

    @include tablet {
      text-align: left;
      h4 {
        font-size: 17px;
      }
    }

    @include laptop {
      h4 {
        font-size: 20px;
      }
    }
  }

  &__card-header-home {
    padding-top: 0px;

    @include mobile-l {
      padding-top: $spacer * 2;
    }

    @include mobile-s {
      padding-top: 0;
    }

    @include smartphone {
      padding-top: 0;
      padding-top: $spacer * 2;
    }

    @include tablet {
      padding-top: $spacer;
    }

    @include laptop {
      padding-top: 0;
    }
  }

  &__card-icon {
    max-width: 254px;
    min-width: 254px;
    max-height: 159px;
    min-width: 211px;

    @include mobile-l {
      max-width: 74%;
      min-width: 74%;
      max-height: 170px;
    }

    @include mobile-s {
      max-width: 65%;
      min-width: 65%;
      max-height: 200px;
    }

    @include smartphone {
      max-width: 55%;
      min-width: 55%;
      max-height: 190px;
    }

    @include tablet {
      min-width: 190px;
      max-width: 190px;
    }

    @include laptop {
      max-width: 250px;
      min-width: 230px;
      max-height: 159px;
      min-width: 211px;
    }
  }

  &__card-away {
    padding-top: $spacer * 2;

    img {
      max-height: 146px;
      min-height: 146px;
      max-width: 202px;
      min-width: 202px;
    }

    @include mobile-l {
      img {
        max-width: 74%;
        min-width: 74%;
        max-height: 165px;
        min-height: 165px;
      }
    }

    @include mobile-s {
      padding-top: $spacer * 4;
      img {
        max-width: 60%;
        min-width: 60%;
        max-height: 165px;
        min-height: 165px;
      }
    }

    @include smartphone {
      img {
        max-width: 55%;
        min-width: 55%;
        max-height: 180px;
        min-height: 175px;
      }
    }

    @include tablet {
      max-width: 200px;
      min-height: 210px;

      img {
        min-width: 190px;
        max-width: 190px;
        max-height: 106px;
        min-height: 106px;
      }

      @include laptop {
        padding-top: $spacer;
        img {
          min-width: 255px;
          min-height: 154px;
          max-height: 154px;
          max-width: 255px;
        }
      }
    }
  }

  &__card-header-away {
    padding-top: $spacer * 3;

    @include mobile-l {
      max-width: 100%;
      text-align: center;
    }

    @include mobile-s {
      max-width: 100%;
      text-align: center;
    }

    @include tablet {
      padding-top: $spacer * 4;
    }
  }

  &__card-phone {
    padding-top: 20px;
    img {
      max-height: 136px;
      min-height: 136px;
      max-width: 227px;
      min-width: 227px;
    }

    @include mobile-l {
      img {
        max-width: 74%;
        min-width: 74%;
        max-height: 155px;
        min-height: 155px;
      }
    }

    @include mobile-s {
      img {
        max-width: 60%;
        min-width: 60%;
        max-height: 165px;
        min-height: 165px;
      }
    }

    @include smartphone {
      img {
        max-width: 55%;
        min-width: 55%;
        max-height: 173px;
        min-height: 173px;
      }
    }

    @include tablet {
      img {
        min-width: 190px;
        max-width: 190px;
        max-height: 103px;
        min-height: 103px;
      }
    }

    @include laptop {
      padding-top: $spacer;
      img {
        min-width: 255px;
        min-height: 153px;
        max-height: 153px;
        max-width: 255px;
      }
    }
  }

  &__break {
    display: block;
    @include mobile-l {
      display: none;
    }

    @include mobile-s {
      display: none;
    }

    @include smartphone {
      display: none;
    }
  }

  &__card-header-phone {
    padding-top: 18px;

    @include mobile-425 {
      padding-top: $spacer * 3;
    }

    @include mobile-l {
      padding-top: $spacer * 3;
      max-width: 100%;
      text-align: center;
    }

    @include mobile-s {
      padding-top: $spacer * 3;
      max-width: 100%;
      text-align: center;
    }

    @include tablet {
      padding-top: $spacer * 4;
    }
  }

  &__card-sales {
    display: block;
    @include tablet {
      padding-top: $spacer;
      img {
        max-height: 190px;
      }
    }

    @include laptop {
      padding-top: $spacer * 2;
      overflow: hidden;

      img {
        max-width: 259px;
        max-height: 147px;
      }
    }
  }

  &__card-header-sales {
    @include laptop {
      padding-top: 20px;
    }
  }
}
