.scope-pay-minutes {
  background-color: $light-gray;
  margin-top: 0px;
  padding-top: 50px;

  &__container {
    background-color: $white;
  }

  &__content {
    background-color: $light-gray;
  }

  &__button {
    margin-top: 80px;
  }

  &__chip {
    @include tablet {
      border-color: $gray2;
    }
  }
}
