.scope-steps {
  background-color: $light-gray;

  &__step {
    max-width: 430px;
  }

  &__second-step {
    margin-left: auto;
    position: relative;
    margin-top: -$spacer * 8;
    &::before {
      content: url(/scope-steps-step1-arc.svg);
      position: absolute;
      top: -70px;
      left: -132px;
    }
  }

  &__third-step {
    position: relative;
    z-index: 2;
    margin-top: -$spacer * 3;
    &::before {
      content: url(/scope-steps-step2-arc.svg);
      position: absolute;
      top: -50px;
      right: -125px;
      z-index: 2;
    }
  }

  &__forth-step {
    position: relative;
    z-index: 2;
    margin-top: -$spacer * 3;
    margin-left: auto;
    &::before {
      content: url(/scope-steps-step3-arc.svg);
      position: absolute;
      top: -50px;
      left: -150px;
      z-index: 2;
    }
  }

  &__upside {
    padding: $spacer * 10;
    position: relative;
  }

  &__upside-header {
    @include flex-row;
    margin-bottom: $spacer * 3;

    h4 {
      margin-left: $spacer * 3;
      font-size: 20px;
    }
  }

  &__caption {
    @include font($normal, 15px, $gray);
    line-height: 155%;
    @include laptop {
      font-size: 16px;
      max-width: 430px;
    }
  }

  &__link {
    line-height: 23.4px;
    display: flex;
    font-weight: $normal;

    font-size: 18px;

    @include smartphone {
      font-size: 18px;
    }

    @include tablet {
      font-size: 16px;
      margin-top: $spacer * 5;
      max-width: 235px;
    }

    @include laptop {
      font-size: 18px;
      max-width: 242px;
    }
  }

  &__arrow {
    position: relative;
    bottom: 0.1em;
    margin-right: 3px;
  }

  &__accent {
    @include font($semi-bold, 15px, $orange);
    line-height: 155%;
    display: block;
    @include laptop {
      font-size: 16px;
      margin-top: $spacer * 4;
    }
  }
}
