.scope-cases {
  &__card {
    @include smartphone {
      cursor: default;
    }
  }

  &__textblock {
    @include tablet {
      &:first-child {
        margin-right: 20px;
      }
    }

    @include tablet-1024 {
      &:nth-child(2) {
        margin-right: 20px;
      }
    }

    @include laptop {
      max-width: 329px;
      &:first-child {
        max-width: 300px;
        min-width: 300px;
        margin-right: 37px;
      }

      &:nth-child(2) {
        max-width: 306px;
        min-width: 306px;
        margin-right: 0px;
      }

      &:last-child {
        max-width: 316px;
        min-width: 316px;
        margin-left: 28px;
      }
    }

    @include desktop {
      &:first-child {
        max-width: 307px;
        min-width: 307px;
        margin-right: 37px;
      }

      &:nth-child(2) {
        max-width: 316px;
        min-width: 316px;
        margin-right: 0px;
      }

      &:last-child {
        max-width: 329px;
        min-width: 329px;
        margin-left: 28px;
      }
    }
  }

  &__card-bottom {
    @include laptop {
      padding-right: 43px;
    }
  }
}
