/* base */
@import '../base/layout';
@import '../base/reset';
@import '../utils/index';

/* components */
@import '../components/button';
@import '../components/header';
@import '../components/dropdown';
@import '../components/login';
@import '../components/link';
@import '../components/cards';
@import '../components/footer';
@import '../components/collapse';
@import '../components/whatsapp';
@import '../components/modal';
@import '../components/overlay';
@import '../components/breadcrumbs';
@import '../components/icon';
@import '../components/scheme';
@import '../components/divider';
@import '../components/tooltip';

@import '../long/header-long.scss';
@import '../long/footer-long.scss';
@import '../long/сards-long.scss';

/**sections**/
@import '../sections/common/hero';
@import '../sections/common/results';
@import '../sections/common/startuse';
@import '../sections/common/scope-hero';
@import '../sections/common/steps/steps'; /* <= imports all step sections */
@import '../sections/common/promophone';
@import '../sections/scope/scopes';
@import '../sections/common/focus';

.seo {
  &__hero {
    @include tablet {
      margin-bottom: 100px;
    }

    @include laptop {
      margin-bottom: 150px;
    }
  }

  &__hero-textblock {
    @include smartphone {
      h1 {
        max-width: 70%;
      }
    }

    @include tablet {
      h1 {
        font-size: 28px;
        line-height: 140%;
        max-width: unset;
      }
    }

    @include laptop {
      min-width: 580px;
      h1 {
        font-size: 36px;
      }
    }
  }

  &__hero-text {
    @include tablet {
      font-size: 16px;
      line-height: 155%;
    }

    @include laptop {
      font-size: 20px;
    }
  }

  &__hero-caption {
    text-align: left;
    margin-top: $spacer * 6;

    @include tablet-1024 {
      margin-top: $spacer * 13;
    }

    @include laptop {
      margin-top: $spacer * 8;
    }
  }

  &__hero-listblock {
    margin: $spacer * 10 0 0 0;
    padding: $spacer * 4;

    @include smartphone {
      max-width: 70%;
    }

    @include tablet {
      padding: $spacer * 11 $spacer * 5;
      margin: 0 0 0 $spacer * 2;
      min-width: 50%;
      max-width: unset;
    }

    @include tablet-1024 {
      margin: 0 0 0 $spacer * 6;
    }

    @include laptop {
      min-width: 475px;
      margin: 0 0 0 $spacer * 10;
      padding: 61px $spacer * 9;
    }
  }

  &__hero-list {
    list-style: disc inside;
    color: $blue;
  }

  &__hero-list-item {
    margin: $spacer * 2 0 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;

    &:first-child {
      margin-top: 0px;
    }

    @include smartphone {
      margin: $spacer * 3 0 0;
      font-size: 18px;
    }

    @include tablet {
      font-size: 16px;
      margin: $spacer * 4 0 0;
    }

    @include tablet-1024 {
      font-size: 17px;
    }

    @include laptop {
      margin: $spacer * 4 0 0;
      white-space: nowrap;
      font-size: 18px;

      &:first-child {
        margin-top: 0px;
      }
    }
  }

  &__hero-list-item_short {
    @include laptop {
      white-space: normal;
    }
  }

  &__focus {
    @include tablet {
      padding-top: 100px;

      @include laptop {
        padding-top: 150px;
      }
    }
  }

  &__focus_white {
    background-color: $white;
    padding-bottom: 80px;

    @include tablet {
      padding-bottom: 100px;
    }

    @include laptop {
      padding-bottom: 150px;
    }
  }

  &__focus-wrapper {
    @include tablet {
      align-items: flex-start;
    }
  }

  &__focus-header {
    margin-bottom: $spacer * 3;

    @include tablet {
      margin-bottom: $spacer * 4;
      max-width: unset;
      h2 {
        font-size: 26px;
      }
    }

    @include laptop {
      h2 {
        font-size: 32px;
      }
    }
  }

  &__focus-paragraph {
    line-height: 150%;
    &:not(:last-child) {
      margin-bottom: $spacer * 2;
    }

    @include tablet {
      line-height: 155%;
    }

    @include laptop {
      max-width: 825px;
    }
  }

  &__focus-paragraph_medium {
    @include tablet {
      max-width: 80%;
    }

    @include laptop {
      max-width: 920px;
    }
  }

  &__focus-paragraph_small {
    @include tablet {
      max-width: 90%;
    }

    @include laptop {
      max-width: 825px;
    }
  }

  &__focus-paragraph_smaller {
    @include laptop {
      max-width: 730px;
    }
  }

  &__focus-paragraph_wide {
    @include tablet {
      max-width: 85%;
    }

    @include laptop {
      max-width: 855px;
    }
  }

  &__focus-cards {
    margin: $spacer * 5 0 $spacer * 7;
    @include tablet {
      display: flex;
    }

    @include laptop {
      margin: $spacer * 7 0 $spacer * 10;
    }
  }

  &__focus-card {
    @include flex-row;
    padding: $spacer * 4;

    &:not(:last-child) {
      margin-bottom: $spacer * 3;
    }

    h4 {
      @include font($normal, 15px, $gray);
      line-height: 155%;
    }

    svg {
      margin-right: $spacer * 2;
      flex-shrink: 0;
    }

    @include smartphone {
      h4 {
        font-size: 18px;
      }
    }

    @include tablet {
      min-width: 270px;
      max-width: 270px;
      max-height: 107px;
      min-height: 107px;
      flex-shrink: 0;
      margin-bottom: 0px;

      &:not(:last-child) {
        margin-bottom: 0px;
      }

      h4 {
        font-size: 15px;
        line-height: 140%;
      }

      &:not(:last-child) {
        margin-right: $spacer * 3;
      }
    }

    @include tablet-1024 {
      max-width: 290px;
    }

    @include laptop {
      padding: $spacer * 4 $spacer * 5;
      max-width: 340px;
      min-height: 90px;
      max-height: 90px;

      &:not(:last-child) {
        margin-right: $spacer * 6;
      }

      h4 {
        font-size: 17px;
      }
    }

    @include desktop {
      max-width: 350px;
      min-width: 350px;

      h4 {
        font-size: 18px;
      }
    }
  }

  &__start-card {
    margin-top: $spacer * 7;
    padding: $spacer * 4;

    @include tablet {
      margin-top: $spacer * 10;
      justify-content: space-between;
      align-items: center;
      padding: $spacer * 10;
    }
  }

  &__start-card-second {
    @include tablet {
      margin-top: $spacer * 6;
    }
  }

  &__start-card-header {
    h3 {
      font-size: 18px;
      line-height: 130%;
    }

    @include laptop {
      h3 {
        font-size: 26px;
      }
    }
  }

  &__start-button {
    margin: $spacer * 3 0 0 0;
    min-width: 100%;
    @include tablet {
      min-width: 231px;
      margin: 0px;
    }

    @include laptop {
      min-width: 231px;
    }
  }

  &__star-card-caption {
    line-height: 150%;
    margin-top: $spacer * 2;

    @include tablet {
      line-height: 155%;
      max-width: 85%;
    }

    @include laptop {
      max-width: 652px;
      font-size: 16px;
    }
  }

  &__promophone {
    padding-bottom: 80px;

    @include tablet {
      padding-bottom: 100px;
    }

    @include laptop {
      padding-bottom: 150px;
    }
  }

  &__promophone-white {
    background-color: $white;
    padding-top: 80px;

    @include tablet {
      padding-top: 100px;
    }

    @include laptop {
      padding-top: 150px;
    }
  }

  &__promophone-articles {
    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1f);
      grid-column-gap: $spacer * 4;
    }

    @include laptop {
      grid-column-gap: $spacer * 6;
    }
  }

  &__promophone-arcticle_big {
    margin-bottom: $spacer * 2;

    @include tablet {
      margin-bottom: $spacer * 10;
    }
  }

  &__promophone-article {
    margin-top: $spacer * 4;

    @include tablet {
      margin: 0 0 $spacer * 7;
    }
  }

  &__promophone-article_first {
    margin-top: $spacer * 5;

    @include tablet {
      margin: 0px;
    }
  }

  &__promophone-article_no-margin {
    @include tablet {
      margin: 0px;
    }
  }

  &__promophone-article-header {
    margin-bottom: $spacer * 2;
    line-height: 130%;

    @include tablet {
      margin-bottom: $spacer * 3;
    }
  }

  &__promophone-paragraph {
    @include font($normal, 15px, $gray);
    line-height: 150%;

    @include smartphone {
      font-size: 16px;
    }

    @include tablet {
      font-size: 15px;
      line-height: 155%;
    }

    @include laptop {
      font-size: 16px;
    }
  }

  &__promophone-card {
    padding: $spacer * 4;
    @include laptop {
      max-height: unset;
    }
  }

  &__promophone-icon {
    margin-bottom: $spacer;
  }

  &__promophone-caption {
    @include laptop {
      font-size: 16px;
    }
  }

  &__promophone-imageblock-lk {
    @include flex-col;
    align-items: center;

    @include tablet {
      display: block;
    }
  }

  &__promophone-image-lk {
    margin: $spacer * 5 0 $spacer * 7;

    @include tablet {
      margin: $spacer * 11 0 $spacer * 10;
    }
  }

  &__promophone-image_mobile-lk {
    display: block;
    min-width: 80%;

    @include tablet {
      display: none;
    }
  }

  &__promophone-image_desktop-lk {
    display: none;

    @include tablet {
      display: block;
      max-width: 100%;
      min-width: 100%;
      border: none;
      border-radius: $border-radius-xs;
    }
  }

  &__virtue-telephone {
    padding: 80px 0;
    @include tablet {
      padding: 100px 0;
    }

    @include laptop {
      padding: 150px 0;
    }
  }

  &__promophome-card-header {
    @include tablet {
      font-size: 18px;
    }

    @include laptop {
      font-size: 20px;
    }
  }

  &__startuse-header {
    @include tablet {
      h2 {
        font-size: 26px;
      }
    }
    @include laptop {
      h2 {
        font-size: 32px;
      }
    }
  }

  &__startuse-button {
    @include tablet {
      margin-top: $spacer * 7;
    }
  }

  &__virtue-header {
    @include tablet {
      h2 {
        font-size: 26px;
      }
    }

    @include laptop {
      h2 {
        font-size: 32px;
      }
    }
  }

  &__schemeblock {
    @include tablet {
      display: flex;
      margin-bottom: $spacer * 10;
    }
  }

  &__multichannel {
    @include tablet {
      margin-top: $spacer * 6;
    }

    .step-upside__header-text {
      margin-left: 0px;
    }
  }
}

.detalization {
  &__hero-caption {
    text-align: left;
    margin-top: $spacer * 6;

    @include tablet {
      margin-top: $spacer * 4;
    }

    @include tablet-1024 {
      margin-top: $spacer * 5;
    }

    @include laptop {
      margin-top: $spacer * 8;
    }
  }
}

.record {
  &__hero-caption {
    text-align: left;
    margin-top: $spacer * 6;

    @include tablet {
      margin-top: $spacer * 12;
    }

    @include tablet-1024 {
      margin-top: $spacer * 18;
    }

    @include laptop {
      margin-top: $spacer * 8;
    }
  }
}

.blacklist {
  &__lk {
    margin-bottom: 0px;
    border: none;
  }

  &__hero-listblock {
    @include tablet {
      padding: 104px $spacer * 7;
    }

    @include laptop {
      margin-left: $spacer * 4;
    }
  }
}

.ip {
  &__hero-listblock {
    @include tablet {
      padding: $spacer * 7 $spacer * 7;
    }

    @include laptop {
      padding: 52px $spacer * 7;
    }
  }

  &__scheme {
    max-width: 100%;
    margin: $spacer * 7 0 $spacer * 8;
    max-height: 180px;

    @include tablet {
      max-width: 360px;
      border: none;
      min-width: unset;
    }

    @include laptop {
      max-width: 450px;
      min-width: 450px;
    }

    @include tablet {
      margin: 0 0 0 50px;
    }

    @include laptop {
      margin: 0 0 0 100px;
    }
  }

  &__focus-article {
    margin-bottom: $spacer * 2;
  }

  &__break {
    display: block;

    @include mobile-l {
      display: none;
    }

    @include mobile-s {
      display: none;
    }

    @include smartphone {
      display: none;
    }
  }
}

.sip {
  &__hero-listblock {
    padding: $spacer * 4 $spacer * 3;

    @include smartphone {
      padding: $spacer * 4;
    }

    @include tablet {
      padding: 52px $spacer * 7;
    }
  }

  &__focus-cards {
    @include tablet {
      @include grid-col-3;
      grid-row-gap: $spacer * 6;
    }
  }

  &__articles {
    @include tablet {
      @include grid-col-3;
    }
  }

  &__scheme {
    max-width: 100%;
    border: none;
    margin-top: $spacer * 5;
    max-height: 588px;

    @include tablet {
      margin-top: $spacer * 10;
    }
  }
}

.multinumber {
  &__hero-listblock {
    padding: $spacer * 4 $spacer * 3;

    @include smartphone {
      padding: $spacer * 4;
    }

    @include tablet {
      padding: 62px $spacer * 5;
    }

    @include tablet-1024 {
      padding: 62px $spacer * 6;
    }

    @include laptop {
      padding: 50px $spacer * 7 50px 31px;
    }
  }

  &__hero-list {
    list-style: disc outside;
    margin-left: 20px;
  }

  &__scheme {
    margin: $spacer * 5 0 0;

    @include tablet {
      margin: 0;
      transform: scale(0.95);
    }

    @include desktop {
      margin: 0 0 0 $spacer * 6;
    }
  }
}

.additional {
  &__hero-listblock {
    padding: $spacer * 4 $spacer * 3;

    @include smartphone {
      padding: $spacer * 4;
    }

    @include tablet {
      padding: 62px $spacer * 5;
    }

    @include tablet-1024 {
      padding: 62px $spacer * 6;
    }

    @include laptop {
      padding: 50px $spacer * 7 50px 31px;
    }
  }

  &__hero-list {
    list-style: disc outside;
    margin-left: 20px;
  }

  &__hero-caption {
    text-align: left;
    margin-top: $spacer * 6;

    @include tablet {
      margin-top: $spacer * 3;
    }

    @include tablet-1024 {
      margin-top: $spacer * 16;
    }

    @include laptop {
      margin-top: $spacer * 8;
    }
  }

  &__card-caption {
    color: $black;
    font-weight: $medium;
    max-width: unset;
    margin-top: 0px;

    @include laptop {
      font-size: 18px;
    }
  }

  &__number-cards {
    margin: $spacer * 4 0 $spacer * 2;
    @include flex-col;
    align-items: center;

    @include laptop {
      margin: 0 0 0 24px;
      align-self: flex-start;
    }

    @include desktop {
      margin: 0 0 0 $spacer * 6;
    }
  }

  &__number-card {
    @include flex-col;
    @include center;
    @include font($semi-bold, 26px, $orange);
    border-radius: 50px;
    border: $border-black;
    min-height: 74px;
    min-width: 118px;
    line-height: 130%;

    @include tablet {
      min-width: 130px;
    }

    @include laptop {
      font-size: 36px;
      min-width: 153px;
      line-height: 140%;
      min-height: 98px;
    }
  }

  &__number-card-125 {
    transform: rotate(-14.73deg);
  }

  &__number-card-505 {
    transform: rotate(8.98deg);
    margin-left: 5px;
    margin-top: 15px;

    @include tablet {
      margin-left: $spacer * 4;
      margin-top: 15px;
    }
  }

  &__number-card-777 {
    transform: rotate(30.24deg);
    margin-top: 10px;

    @include tablet {
      margin-top: 20px;
    }
  }
}
