/* base */
@import '../base/layout';
@import '../base/reset';
@import '../utils/index';

/* components */
@import '../components/button';
@import '../components/header';
@import '../components/dropdown';
@import '../components/login';
@import '../components/link';
@import '../components/cards';
@import '../components/footer';
@import '../components/whatsapp';
@import '../components/modal';
@import '../components/overlay';
@import '../components/breadcrumbs';
@import '../components/icon';
@import '../components/list';
@import '../components/list-item';

@import '../long/header-long.scss';
@import '../long/footer-long.scss';
@import '../long/сards-long.scss';

/**sections**/
@import '../sections/common/startuse';
@import '../sections/common/scope-hero';
@import '../sections/common/steps/steps'; /* <= imports all step sections */

.services {
  &__hero {
    padding: 30px 0 80px;

    @include tablet {
      padding: 60px 0px 100px;
    }

    @include laptop {
      padding: 80px 0px 150px;
    }
  }

  &__hero-header {
    margin-bottom: $spacer * 5;

    @include tablet {
      margin-bottom: $spacer * 10;
    }
  }

  &__startuse {
    @include tablet {
      padding: 100px 0px;
    }

    @include laptop {
      padding: 150px 0px;
    }
  }
}

.docs {
  &__header {
    margin-bottom: $spacer * 3;

    @include smartphone {
      margin-bottom: $spacer * 4;
    }

    @include tablet {
      margin-bottom: $spacer * 6;
    }
  }

  &__content {
    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 130px $spacer * 8;
    }

    @include tablet-1024 {
      grid-gap: 100px $spacer * 8;
    }

    @include laptop {
      grid-gap: $spacer * 10 41px;
    }
  }

  &__licensies {
    @include tablet {
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }

  &__list {
    margin-bottom: $spacer * 8;

    @include tablet {
      margin-bottom: 0px;
    }
  }

  &__list-item {
    margin-bottom: $spacer * 2;
    font-size: 15px;
    line-height: 155%;
    display: flex;

    &:last-child {
      margin-bottom: 0px;
    }

    svg {
      margin-right: 6px;
      max-width: 20px;
      max-height: 22px;
      flex-shrink: 0;
      align-self: flex-start;
      margin-top: 6px;
    }

    @include smartphone {
      font-size: 18px;
    }

    @include tablet {
      margin-bottom: $spacer * 4;
      font-size: 16px;

      &:last-child {
        margin-bottom: 0px;
      }
    }

    @include laptop {
      font-size: 18px;
      line-height: 155%;
      display: flex;
      align-items: center;

      svg {
        margin-right: 12px;
        min-width: 26px;
        max-width: 26px;
        max-height: 26px;
        min-height: 26px;
      }
    }
  }

  &__actual {
    @include laptop {
      max-width: 407px;

      a {
        min-width: 407px;
        max-width: 407px;
      }
    }
  }

  &__not-actuals-list {
    margin-bottom: 0px;
  }

  &__not-actual {
    @include laptop {
      a {
        min-width: 407px;
      }
    }
  }

  &__licensy {
    display: flex;
    &::before {
      content: '';
      display: block;
      border-radius: 50%;
      background-color: $orange;
      min-width: 6px;
      min-height: 6px;
      margin-right: 8px;
      align-self: flex-start;
      margin-top: 8px;
    }

    @include laptop {
      min-width: 604px;
      a {
        min-width: 589px;
        max-width: fit-content;
      }

      &::before {
        min-width: 8px;
        min-height: 8px;
        margin-right: 12px;
        line-height: 155%;
      }
    }
  }

  &__break {
    display: block;
    @include mobile-336 {
      display: none;
    }
  }
}

.contacts {
  &__container {
    @include tablet {
      display: flex;
    }
  }

  &__map {
    border-radius: 12px;

    @include tablet {
      max-width: 635px;
      max-height: 375px;
      margin-left: $spacer * 9;
    }

    @include laptop {
      min-width: 635px;
      min-height: 100%;
      margin-left: 87px;
    }
  }

  &__contact {
    @include flex-row;

    margin-bottom: $spacer * 4;

    &:last-child {
      margin-bottom: $spacer * 7;
    }

    @include tablet {
      margin-bottom: $spacer * 6;
      align-items: center;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  &__cities {
    align-items: start;

    @include tablet {
      align-items: start;
    }
  }

  &__email {
    @include tablet {
      margin-bottom: 35px;
    }
  }

  &__list-item {
    @include font($medium, 15px, $gray);
    line-height: 155%;

    @include mobile-s {
      white-space: nowrap;
    }

    @include smartphone {
      white-space: nowrap;
      font-size: 18px;
    }

    @include tablet {
      font-size: 16px;
      margin-bottom: 0px;

      &:last-child {
        white-space: normal;
      }
    }

    @include laptop {
      font-size: 18px;
    }
  }

  &__city {
    margin-bottom: $spacer * 2;

    @include tablet {
      margin-bottom: 13px;
    }
  }

  &__phone-number {
    display: block;

    @include mobile-362 {
      display: inline;
    }
  }

  &__contact-icon {
    flex-shrink: 0;
    max-width: 38px;
    max-height: 38px;
    margin-right: $spacer * 4;

    @include smartphone {
      max-width: 42px;
      max-height: 42px;
    }

    @include tablet {
      max-width: 38px;
      max-height: 38px;
    }

    @include laptop {
      max-width: 42px;
      max-height: 42px;
    }
  }
}
