/* base */
@import '../base/layout';
@import '../base/reset';
@import '../utils/index';

/* components */
@import '../components/button';
@import '../components/header';
@import '../components/dropdown';
@import '../components/login';
@import '../components/link';
@import '../components/cards';
@import '../components/footer';
@import '../components/chips';
@import '../components/list';
@import '../components/list-item';
@import '../components/collapse';
@import '../components/whatsapp';
@import '../components/modal';
@import '../components/overlay';
@import '../components/breadcrumbs';

@import '../components/carousel';
@import '../components/tooltip';
@import '../components/icon';
@import '../long/header-long.scss';
@import '../long/footer-long.scss';
@import '../long/сards-long.scss';

/**sections**/
@import '../sections/common/hero';
@import '../sections/common/results';
@import '../sections/common/pay-minutes';
@import '../sections/common/startuse';
@import '../sections/common/scope-hero';
@import '../sections/common/steps/steps'; /* <= imports all step sections */
@import '../sections/common/stats';
@import '../sections/common/cases';
@import '../sections/common/cases-bot';
@import '../sections/common/promophone';
@import '../sections/scope/scopes';
@import '../sections/scope/scope-steps';
@import '../sections/common/scope-calculator';
@import '../sections/scope/scope-cases';
@import '../sections/common/focus';

.business {
  &__hero {
    margin-bottom: 80px;
    margin-top: 0px;
    padding-top: 30px;
    margin: 0px;
    padding-bottom: 80px;

    @include tablet {
      margin-bottom: 150px;
      box-sizing: border-box;
      padding-top: 80px;
      padding-bottom: 0px;

      h1 {
        margin-top: 0px;
      }
    }
  }

  &__hero-textblock {
    margin: 0px;
  }

  &__hero-container {
    @include tablet {
      justify-content: stretch;
    }
  }

  &__hero-caption {
    @include font($normal, 14px, $new-gray);
    line-height: 150%;
    margin-top: $spacer * 2;
    text-align: center;

    @include tablet {
      margin-top: $spacer * 3;
      color: $gray;
      text-align: left;
    }
  }

  &__hero-text {
    max-width: 570px;

    @include laptop {
      min-width: 570px;
    }
  }

  &__steps {
    @include tablet {
      padding: $spacer * 21 0 $spacer * 10;
    }
  }

  &__results {
    padding: $spacer * 14 0;
    @include laptop {
      padding: 150px;
    }
  }

  &__cards {
    padding: $spacer * 5 0 0;

    @include tablet {
      padding: $spacer * 11 0 0;
    }
  }

  &__collapse-activator {
    text-align: center;
    padding-top: $spacer * 5;

    margin: 0 auto;

    justify-content: center;
    h5 {
      text-align: center;
      flex: 1 1;
      color: $blue;
    }

    @include tablet {
      padding-top: $spacer * 10;
    }

    @include laptop {
      max-width: 236px;
    }
  }

  &__virtue-telephone {
    padding-bottom: 80px;
    padding-top: 80px;

    @include laptop {
      padding-top: 150px;
      padding-bottom: 150px;
    }
  }

  &__scheme {
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__scheme-mobile {
    display: block;
    margin-top: $spacer * 8;

    @include tablet {
      display: none;
    }
  }

  &__calculator {
    @include tablet {
      padding-top: 150px;
    }
  }

  &__stats {
    @include tablet {
      padding-bottom: 100px;
    }
    @include laptop {
      padding-bottom: 0px;
    }
  }
}
