.arc__multichannel {
  @include smartphone {
    display: block;
    position: relative;

    &::before {
      display: block;
      position: absolute;
      content: url('/arc-step1-tabl.svg');
      z-index: 1;
      right: 50%;

      @include smartphone {
        top: -45px;
      }
      @include tablet {
        top: -33px;
      }
    }

    @include laptop {
      display: none;
    }
  }
}

.arc__lk {
  @include smartphone {
    display: block;
    position: relative;

    &::before {
      display: block;
      position: absolute;
      content: url('/arc_step4-tabl.svg');
      z-index: 1;
      right: 31%;
      @include smartphone {
        top: -58px;
      }
      @include tablet {
        top: -26px;
      }
    }

    @include laptop {
      display: none;
    }
  }
}

.arc__calc {
  display: none;
  height: 0;
  z-index: 1;
  position: relative;

  @include laptop {
    display: block;
    height: 0;
    z-index: 1;
    position: relative;
    right: -94%;
  }

  @include desktop {
    right: -96%;
  }

  &::before {
    display: none;

    @include laptop {
      display: block;
      position: absolute;
      content: url('/arc-step-5.svg');
      top: -170px;
      z-index: -1;
    }

    @include desktop {
      top: -152px;
    }
  }
}

.arc__employe_left {
  position: relative;
  &::before {
    display: none;

    @include laptop {
      display: block;
      position: absolute;
      content: url('/circe-steps.svg');
      left: -58px;
      top: -171px;
      z-index: 1;

      @include desktop {
        top: -150px;
        left: -119px;
      }
    }
  }
}
