.audioplayer {
  &__card {
    @include tablet {
      flex: 1 1;
      margin-left: $spacer * 3;
    }

    @include laptop {
      margin-left: 67px;

      min-width: 445px;
    }
  }

  &__element {
    flex-shrink: 0;
  }

  &__header {
    margin-bottom: $spacer;
  }

  &__text {
    @include font($normal, 14px, $black);
    line-height: 150%;

    @include smartphone {
      font-size: 16px;
    }

    @include tablet {
      font-size: 14px;
    }
  }

  &_long {
    padding: 11px 15px;
    border-radius: 50px;
    @include flex-row;
    max-height: 41px;
    margin-bottom: $spacer * 2;

    &:last-child {
      margin-bottom: 0px;
    }

    @include tablet {
      margin-bottom: $spacer * 3;
    }
  }

  &__timer {
    display: none;
    margin: 0 $spacer * 2 0 8px;
    @include tablet {
      display: block;
      margin: 0 $spacer * 3 0 $spacer;
    }
  }

  &__timer-mobile {
    display: block;

    @include tablet {
      display: none;
    }
  }

  &__play_rectangle {
    height: auto;
    margin-top: 1px;

    &:hover {
      transition: transform 0.2s;
      background-color: $white;
      svg {
        transform: scale(1.1);
        filter: drop-shadow(3px 3px 2px $gray);
        path {
          fill: $dark-blue;
        }
      }
    }

    &:active {
      svg {
        transform: scale(0.9);
      }
    }
  }

  &__bar-wrapper {
    background-color: $dim-gray;
    border-radius: 200px;
  }

  &__progress-wrapper {
    min-height: 5px;
    flex-grow: 1;

    @include laptop {
      min-width: 228px;
    }
  }

  &__bar {
    background-color: $blue;
    border-radius: 200px;
  }

  &__volume {
    display: none;
    position: relative;
    height: auto;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      background-color: $white;

      svg {
        filter: drop-shadow(3px 3px 2px $gray);
      }

      &:active {
        transform: scale(0.9);
      }
    }
    @include tablet {
      display: block;
      margin-left: 15px;
    }
  }
}

.audio {
  display: none;
}
