.breadcrumbs {
  @include flex-row;
  margin-right: auto;
  margin-top: $spacer * 10;
  font-size: 15px;
  line-height: 155%;

  @include laptop {
    font-size: 16px;
    margin-top: $spacer * 7;
  }

  li {
    margin-right: 5px;
    color: $gray;
  }

  &__link {
    font-weight: 400;
  }

  &_inline {
    display: inline-block;

    li {
      display: inline;
    }

    @include mobile-s {
      display: flex;
    }
  }
}
