@import '../utils/mixins';
@import '../utils/vars';

.button {
  border-radius: $border-radius-xs;
  transition: $btn-transition;
  padding: $spacer * 3 $spacer * 6;
  white-space: nowrap;
  box-sizing: border-box;
  max-height: 55px;
  cursor: pointer;

  &_outlined {
    border: 1px solid $blue;
    background-color: $white;
    color: $blue;
    outline: none;

    &:hover {
      background-color: $blue;
      color: $white;

      @media (hover: hover) and (pointer: fine) {
        color: $white;
      }
    }

    &:active {
      background-color: $dark-blue;
      color: $white;
    }

    &:disabled {
      background-color: $light-gray;
      color: $light-blue;
    }
  }

  &_blue {
    max-height: 55px;

    background-color: $blue;
    @include font(400, 16px, $white);
    border-color: transparent;

    &:hover {
      background-color: $deep-blue;
    }

    &:active {
      background-color: $dark-blue;
    }

    &:disabled {
      background-color: $light-blue;
    }

    @media (hover: hover) and (pointer: fine) {
      color: $white;
    }
  }

  &_white {
    border-color: transparent;
    background-color: $white;
    color: $black;
    white-space: nowrap;
    height: 55px;

    &:hover {
      background-color: $blue;
      color: $white;
    }

    &:active {
      background-color: $dark-blue;
      color: $white;
    }

    &:disabled {
      background-color: $light-blue;
      color: $white;
    }
  }

  &_green {
    background-color: $green;
    @include font(400, 16px, $white);
    border-color: transparent;
    line-height: 25px;

    &:hover {
      background-color: $dark-green;
    }

    &:active {
      background-color: $darker-green;
    }

    &:disabled {
      background-color: $light-green;
    }
  }

  &_with-icon {
    @include flex-row;
    padding: $spacer * 3 $spacer * 3;

    @include smartphone {
      justify-content: center;
    }
  }

  &__icon {
    margin-right: $spacer * 2;
    flex-grow: 0;

    @include smartphone {
      flex-grow: 0;
      min-width: 25px;
      min-height: 25px;
    }

    @include laptop {
      justify-content: unset;
    }

    svg {
      margin-right: -10px;
    }

    @include tablet {
      svg {
        margin-right: 10px;
        flex-grow: 1;
      }
    }
  }

  &__start {
    padding: $spacer * 3 $spacer * 14;
    margin-top: $spacer * 4;

    @include laptop {
      padding: $spacer * 3 $spacer * 6;
      white-space: nowrap;
      flex-shrink: 2;
      margin-right: auto;
      margin-top: 40px;
      border-radius: $border-radius-xs;
      width: 200px;
    }
  }

  &_no-border {
    border: none;
  }

  &_light-gray {
    background-color: $light-gray;
  }

  &_transparent {
    background: transparent;
  }

  &_no-padding {
    padding: 0;
  }

  &_round {
    border-radius: 50%;
  }
}
