@import '../utils/mixins';
@import '../utils/vars';

.button {
  border-radius: $btn-border-radius;
  transition: $btn-transition;
  padding: $spacer * 3 $spacer * 6;
  white-space: nowrap;
  box-shadow: none;
  outline: none;

  cursor: pointer;

  &.button_outlined {
    border: 1px solid $blue;
    background-color: $white;
    color: $blue;

    &:hover {
      background-color: $deep-blue;
      color: $white;
    }

    &:focus,
    &:active {
      background-color: $dark-blue;
      color: $white;
    }

    &:disabled {
      background-color: $light-gray;
      color: $light-blue;
    }
  }

  &.button_blue {
    background-color: $blue;
    @include font(400, 16px, $white);
    border-color: transparent;
    line-height: 25px;

    &:hover {
      background-color: $deep-blue;
    }

    &:focus,
    &.active {
      background-color: $dark-blue;
    }

    &:disabled {
      background-color: $light-blue;
    }
  }

  &.button_white {
    border-color: transparent;
    background-color: $white;
    color: $black;
    white-space: nowrap;
    height: 54px;

    &:hover {
      background-color: $blue;
      color: $white;
    }

    &:focus,
    &.active {
      background-color: $dark-blue;
      color: $white;
    }

    &:disabled {
      background-color: $light-blue;
      color: $white;
    }
  }

  &.button_green {
    background-color: $green;
    @include font(400, 16px, $white);
    border-color: transparent;
    line-height: 25px;

    &:hover {
      background-color: $dark-green;
    }

    &.active {
      background-color: $darker-green;
    }

    &:disabled {
      background-color: $light-green;
    }
  }
}

.button__start {
  padding: $spacer * 3 $spacer * 14;
  margin-top: $spacer * 4;

  @include laptop {
    padding: $spacer * 3 $spacer * 6;
    white-space: nowrap;
    flex-shrink: 2;
    margin-right: auto;
    margin-top: 40px;
    border-radius: $btn-border-radius;
    width: 200px;
  }
}
