.card {
  box-sizing: border-box;

  &_light-gray {
    background-color: $light-gray;

    &:focus {
      border: $border-orange;
    }
  }

  &_white {
    background-color: $white;

    &:focus {
      border: $border-orange;
    }
  }

  &_black {
    background-color: $black;
  }

  &_round {
    box-sizing: border-box;
    border-radius: $border-radius-xl;
    margin-bottom: $spacer * 2;
    padding: $spacer * 3;

    @include laptop {
      padding: 80px 20px 80px 20px;
      min-width: 210px;
    }

    &_header {
      @include font(500, 16px, $black);
      line-height: 21px;

      @include laptop {
        margin-bottom: $spacer;
        @include font(500, 18px, 23.4px);
      }
    }

    @include laptop {
      border-radius: 268px;
      height: 210px;
      margin-right: $spacer * 3;

      &:nth-child(5) {
        margin-right: 0;
      }
    }
  }

  &_rectangle {
    border-radius: $border-radius-xl;
  }

  &_rounded-bot {
    border-radius: 0px 0px $border-radius-xl $border-radius-xl;
  }

  &_rounded-top {
    border-radius: $border-radius-xl $border-radius-xl 0px 0px;
  }
}

.card__round_text {
  display: none;
  @include laptop {
    display: block;
  }
}

.card__round_text-mobile {
  display: block;
  @include font(400, 15px, $gray);
  line-height: 21px;
  margin-top: 3px;
  @include laptop {
    display: none;
  }
}
