.collapse {
  overflow: hidden;
  cursor: pointer;

  &__content {
    user-select: none;
    cursor: default;
    max-height: 0;
    will-change: max-heigth;
    overflow: hidden;
    display: block;
    transition: $collapse-transition-height;

    &_visible {
      display: block;
      opacity: 0;
    }

    &_active {
      opacity: 1;
      overflow: visible;
      max-height: 2500px;
      display: block;
      transition: $collapse-transition-height-reverse;
    }
  }

  &__activator {
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    max-height: 112px !important;
    display: flex;
    align-items: flex-start;

    @include tablet {
      align-items: center;
    }
  }

  &__arrow {
    width: 25px;
    height: 25px;

    svg {
      width: 25.6px;
      height: 25px;
    }

    margin-left: auto;

    @include laptop {
      width: 22px;
    }

    transform: rotateX(180deg);
    transition: transform $collapse-transition;

    &_active {
      transform: rotateX(0deg);
    }
  }

  &_closed {
    .collapse__content {
      display: none;
    }
  }
}
