@import '../utils/';
@import '../base/typo';

.dropdown {
  position: relative;
  max-width: fit-content;
  max-height: fit-content;

  &_inline {
    display: inline;
    font-size: 14px;

    @include laptop {
      font-size: 20px;
    }

    &::after {
      display: none;

      @include laptop {
        content: url('/arrow-down.svg');
        display: inline;
      }
    }
  }

  &__button {
    @include font(400, 16px, $black);
    cursor: pointer;
    background: transparent;
    @include flex-row;
    border: none;

    &::after {
      content: url('/arrow-down.svg');

      @include laptop {
        transform: scale(1);
      }

      transform: scale(0.7);
      display: flex;
      margin-left: $spacer;
      padding-top: $spacer;
    }

    &.active {
      @include visible($opacity-transition);
    }

    @include laptop {
      @include visible;
    }

    &_inline {
      font-size: 14px;

      @include laptop {
        font-size: 20px;
      }
      color: $gray;
      padding: 0;
      margin: 0px -2px;
    }
  }

  &__menu {
    display: none;
    @include hidden;
    position: absolute;
    z-index: 1;
    overflow: visible;

    &_list {
      @include font(400, 14px, $gray);
      @include flex-col;
      gap: $spacer * 2;
      padding: $spacer * 4 $spacer * 5;
      background: $light-gray;
      border-radius: $border-radius-xs;

      @include desktop {
        box-shadow: map-get($elevations, 1);
      }

      li {
        white-space: nowrap;
        user-select: none;
        cursor: pointer;

        &:hover {
          color: $blue;
        }
      }
    }
  }

  &__arrow {
    height: 15px;
    margin: 0;
    min-width: 100%;
    background: transparent;
    display: none;

    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background: $light-gray;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      top: 15px;
      left: $spacer * 8;
      z-index: 1;
      overflow: visible;
    }

    @include desktop {
      display: block;
    }

    @include tablet {
      display: block;
    }

    @include wide-screen {
      display: block;
    }
  }

  &_white {
    .dropdown__button {
      @include font(400, 16px, $white);

      &::after {
        content: url('/arrow-down-white.svg');
        color: $white;
      }
    }
  }

  &.active {
    .dropdown {
      &__button {
        &::after {
          transform: rotateX(180deg) translateY(-2px);
        }
      }

      &__menu {
        display: block;
        @include visible($dropdown-transition);
        position: relative;
        z-index: 0;

        @include laptop {
          position: absolute;
          z-index: 1;
        }
      }
    }
  }
}
