@import '../utils/';
@import '../base/typo';

.dropdown {
  position: relative;
  max-width: fit-content;
  max-height: fit-content;

  &_inline {
    display: inline-flex;
    align-items: flex-end;
    text-decoration: underline;
    cursor: pointer;

    user-select: none;

    @include laptop {
      font-size: 20px;
      text-decoration: none;
    }

    &::after {
      display: none;
      transition: transform $dropdown-transition;

      @include laptop {
        content: url('/arrow-down.svg');
        display: inline-block;
        transform: translateY(3px);
        margin: 2px 2px 2px 5px;
      }
    }

    &:hover {
      color: $blue;
    }

    &.dropdown_active {
      &::after {
        transform: rotateX(180deg) translateY(-2px);
      }
    }
  }

  &__button {
    transition: $link-transition;
    @include font(400, 16px, $black);
    cursor: pointer;
    background: transparent;
    @include flex-row;
    border: none;

    &:hover {
      color: $blue;
    }

    &::after {
      content: url('/arrow-down.svg');
      transition: $dropdown-transition;
      display: flex;
      margin-left: $spacer;
      padding-top: $spacer;
      transform: scale(0.7);

      @include laptop {
        transform: scale(1);
      }
    }

    @include laptop {
      @include visible;
    }

    &_inline {
      cursor: pointer;
      color: $gray;
      padding: 0;
      margin: 0px -2px;

      @include laptop {
        font-size: 20px;
      }
    }
  }

  &__menu {
    display: none;
    @include hidden;
    position: absolute;
    z-index: 1;
    overflow: visible;
    transition: $dropdown-transition;

    @include laptop {
      display: auto;
    }

    &_list {
      @include font(400, 14px, $gray);
      @include flex-col;
      padding: $spacer * 4 $spacer * 5;
      background: $light-gray;
      max-width: fit-content;

      @include tablet {
        border-radius: $border-radius-xs;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
      }

      li {
        white-space: nowrap;
        user-select: none;
        cursor: pointer;
        margin-bottom: $spacer * 2;
        &:last-child {
          margin-bottom: 0;
        }

        &:hover {
          color: $blue;
          transition: $link-transition;
        }
      }
    }
  }

  &__arrow {
    height: 15px;
    margin: 0;
    min-width: 100%;
    background: transparent;
    display: none;

    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background: $light-gray;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      top: 15px;
      left: $spacer * 8;
      z-index: 1;
      overflow: visible;
    }

    @include desktop {
      display: block;
    }

    @include tablet {
      display: block;
    }
  }

  &_white {
    .dropdown__button {
      @include font(400, 16px, $white);

      &::after {
        content: url('/arrow-down-white.svg');
        color: $white;
      }
    }

    .dropdown__menu ul {
      color: $white !important;

      @include tablet {
        color: $gray !important;
      }
    }
  }

  &_active {
    .dropdown {
      &__button {
        color: $blue;

        &::after {
          transform: rotateX(180deg) translateY(-2px) scale(0.7);
          content: url('/arrow-down.svg');

          @include laptop {
            transform: rotateX(180deg) translateY(-2px) scale(1);
          }
        }
      }

      &__menu {
        display: block;
        position: relative;
        z-index: 0;
        opacity: 1;

        @include laptop {
          position: absolute;
          z-index: 1;
        }
      }
    }

    &.dropdown_white {
      .dropdown__button {
        @include font(400, 16px, $white);

        &::after {
          content: url('/arrow-down-white.svg');
          color: $white;
        }
      }
    }
  }

  &_visible {
    .dropdown {
      &__menu {
        display: block;
      }
    }
  }

  &__close {
    display: block;
    position: absolute;
    background: transparent;
    right: 15px;
    top: 15px;
    padding: 0;

    @include smartphone {
      display: none;
    }
  }
}

.dropdown__content {
  position: absolute;
  left: 0;
  display: none;
  padding: $spacer * 8 $spacer * 5;
  padding-right: 0;
  background: $white;
  margin-bottom: $spacer * 3;
  z-index: $zindex-modal;
  transition: $dropdown-transition;
  box-shadow: 0px 0px 28px rgba(70, 98, 121, 0.14);
  width: calc(100vw - 60px);
  max-width: calc(100vw);
  font-size: 14px;
  color: $gray;
  border-radius: $border-radius-xl;
  max-width: 436px;
  opacity: 0;

  @include smartphone {
    opacity: 1;
    padding-top: 0;
    position: relative;
    z-index: $zindex-modal;
    padding: $spacer * 4;
    transform: none;
    width: 100%;
    max-width: 600px;
    box-shadow: none;
    padding-top: 0;
    max-height: 0;
    overflow: hidden;
    transition: $collapse-transition-height;
  }

  .list {
    line-height: 21px;
    font-size: 15px;

    @include tablet {
      font-size: 14px;
    }
  }

  @include collapse;

  .dropdown__inner {
    width: fit-content;
    max-width: fit-content;
  }
}

.dropdown_mobile {
  @include mobile {
    .dropdown__menu {
      background: $black !important;
      position: relative;
      max-height: 0px;
      height: auto;
      overflow: hidden;
      opacity: 0;
      transition: $collapse-transition-height;
    }

    &.dropdown_active {
      .dropdown__menu {
        max-height: 1000px;
        overflow: visible;
        display: block;
        opacity: 1;
      }
    }

    &.dropdown_visible {
      .dropdown__menu {
        display: block;
      }
    }
  }
}
