.footer {
  background: $black;
  padding: 30px 15px 60px 15px;

  @include desktop {
    padding: $spacer * 9 0 $spacer * 7;
  }

  &__divider {
    display: none;
    height: 1px;
    width: 100%;
    background: $gray;

    @include laptop {
      display: block;
    }
  }

  .footer-upside {
    @include laptop {
      @include flex-row;
      justify-content: space-between;
      padding-bottom: $spacer * 9;
      align-items: baseline;
    }

    @include flex-col;

    &__logo {
      margin-bottom: $spacer * 3;
      margin-top: -30px;
      max-width: 200px;

      @include smartphone {
        max-width: none;
      }

      @include laptop {
        margin-bottom: 0px;
        margin-top: 0px;
      }

      @include tablet {
        @include flex-row;
        gap: $spacer * 5;
      }

      svg {
        width: 111px;
        height: 32px;

        @include tablet {
          width: 172px;
          height: 32px;
          margin-bottom: $spacer * 4;
          margin-right: $spacer * 5;
        }

        @include laptop {
          margin-bottom: 0;
        }

        & > * {
          fill: $white !important;
        }
      }
    }

    &__dropdown {
      margin-left: -$spacer;
      display: block;

      @include tablet {
        display: none;
      }

      @include laptop {
        white-space: nowrap;
        margin-left: -$spacer * 6;
        display: block;
      }

      &_tablet {
        display: none;

        @include tablet {
          display: block;
          margin-top: -$spacer * 2;
        }

        @include laptop {
          display: none;
        }
      }

      .dropdown__menu {
        @include mobile {
          background: transparent;
        }
      }
    }

    &__menu {
      ul {
        @include flex-col;
        margin-top: $spacer * 2;

        @include tablet {
          @include flex-row;
          margin-top: 0;
        }

        li {
          white-space: nowrap;
          margin-bottom: $spacer * 3;

          &:last-child {
            margin-bottom: 0;
          }

          @include tablet {
            margin-right: $spacer * 5;
            margin-bottom: 0;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }

    &__login {
      display: block;
      order: -1;
      margin-left: auto;

      @include laptop {
        @include flex-row;
        margin: 0 0 -20px 0;
        order: initial;

        .button__login-button {
          margin-left: 0;
        }
      }
    }

    &__start-button {
      margin-top: $spacer * 5;

      @include laptop {
        margin-top: 10px;
      }
    }
  }

  .footer-contacts {
    font-size: 14px;
    background: $gray;
    border-radius: $border-radius-xs;
    margin-top: $spacer * 6;
    line-height: 21px;
    padding: 20px;

    @include laptop {
      border-radius: 0;
      background: transparent;
      padding-top: $spacer * 7;
      margin-top: 0;
      height: 21px;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;

      @include tablet {
        grid-auto-columns: 50% 5;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25px 25px 25px;
        align-items: center;
      }

      @include laptop {
        @include flex-row;
        align-items: flex-start;
        justify-content: space-between;
      }
    }

    &__address {
      margin-top: $spacer * 2;
      margin-bottom: $spacer * 4;
      grid-column-start: 1;
      grid-column-end: 3;

      @include laptop {
        margin-top: 0;
      }
    }

    &__emai {
      margin-bottom: $spacer;

      @include laptop {
        margin-bottom: 0;
      }
    }

    &__address,
    &__email,
    &__phone {
      @include laptop {
        margin-top: 0;
      }
    }

    &__phone {
      margin-top: $spacer * 2;
      margin-bottom: $spacer * 2;
      margin-left: auto;

      @include laptop {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0px;
      }
    }
  }

  .footer-case {
    margin-top: $spacer * 4;
    text-align: center;
    font-size: 12px;
    margin-right: 15px;
  }
}

.footer-contacts__copy {
  grid-column-start: 1;
  grid-column-end: 3;
}
