.input {
  box-sizing: border-box;
  border: 0px;
  outline: none;

  &::placeholder {
    overflow: visible;
  }

  &_light-gray {
    background-color: $light-gray;
    &::placeholder {
      color: $gray2;
      overflow: visible;
    }
  }

  &_with-border {
    border: $border-dim-gray;
    border-radius: $border-radius-xs;
  }
}
