.link {
  font-family: $family;
  text-decoration: none;
  color: $gray;
  cursor: pointer;

  &:hover {
    color: $blue;
  }

  &_white {
    color: $white;
  }

  &_blue {
    color: $blue;

    &:hover {
      color: $deep-blue !important;
    }
  }

  &_with-arrow {
    display: inline-flex;

    ::after {
      display: block;
      content: '→';
    }
  }
}
