.link {
  transition: $link-transition;
  font-family: $family;
  text-decoration: none;
  color: $gray;
  cursor: pointer;

  &:hover {
    color: $blue;
  }

  &_white {
    color: $white;
  }

  &_blue {
    color: $blue;

    &:hover {
      color: $deep-blue !important;
    }
  }

  &_bottom {
    margin-top: auto;
  }
}
