.link {
  transition: $link-transition;
  font-family: $family;
  text-decoration: none;
  text-align: left;
  color: $gray;
  cursor: pointer;

  &:hover {
    color: $blue;
  }

  &_white {
    color: $white;
  }

  &_blue {
    color: $blue;

    &:hover {
      color: $deep-blue !important;
    }

    &:active {
      color: $dark-blue !important;
    }
  }

  &_bottom {
    margin-top: auto;
    width: fit-content;
  }

  &_underlined {
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }

  &_black {
    color: $black;
  }

  &_orange {
    color: $orange;

    &:hover {
      color: $dark-orange;
    }

    &:active {
      color: $dark-orange;
    }
  }
}
