.list-item {
  display: flex;
  font-size: 15px;
  margin: 2.5px 0;
  line-height: 23px;

  &:last-child {
    margin-bottom: 0;
    @include laptop {
      margin: 0;
    }
  }

  @include laptop {
    font-size: 16px;
    align-items: center;
    margin: 5px 0;
  }

  &_checked {
    &::before {
      content: url('/check.svg');
      display: block;
      margin-right: $spacer * 2;
    }

    &_checked_mobile {
      &::before {
        content: url('/check.svg');
        display: block;
        margin-right: $spacer * 2;
        @include laptop {
          display: none;
        }
      }
    }
  }

  :first-child,
  :last-child {
    margin: 0;
  }

  &_mobile {
    display: block;

    @include laptop {
      display: none;
    }
  }

  &_destkop {
    display: none;
    @include laptop {
      display: block;
    }
  }
}
