.list-item {
  display: flex;
  font-size: 15px;
  margin: $spacer * 2 0;
  line-height: 23px;

  @include laptop {
    font-size: 16px;
    align-items: center;
  }

  &_checked {
    &::before {
      content: url('/public/check.svg');
      display: block;
      margin-right: $spacer * 2;
    }
  }

  :first-child,
  :last-child {
    margin: 0;
  }
}
