.modal {
  @include fullscreen;
  @include center;
  display: none;
  overflow-x: hidden;
  z-index: $zindex-modal;
  opacity: 0;

  &_before-activate {
    display: flex;
  }

  &_active {
    opacity: 1;
    display: flex;
  }

  &_after-hide {
    display: block;
  }

  &__dialog {
    background: $white;

    padding: 0;
    height: fit-content;
    max-width: 320px;
    background: $white;

    @include laptop {
      max-width: 460px;
    }
  }
}
