.modal {
  @include fullscreen;
  @include center;
  display: none;
  overflow-x: hidden;
  z-index: $zindex-modal;
  opacity: 0;
  transition: opacity 0.2s ease;
  cursor: pointer;

  &_visible {
    display: flex;
  }

  &_active {
    opacity: 1;
  }

  &__dialog {
    cursor: default;
    background: $white;
    padding: 0;
    height: fit-content;
    max-width: 320px;
    background: $white;
    position: relative;

    @include laptop {
      max-width: 460px;
    }
  }
}
