.search {
  @include flex-row;
  margin-top: $spacer * 2;
  padding: $spacer * 2;
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: $border-radius-xl;

  @include tablet {
    padding: $spacer * 3 $spacer * 3;
    height: 53px;
  }

  @include laptop {
    padding: $spacer * 3 $spacer * 4;
    min-height: 53px;
    max-width: 730px;
  }

  &__input {
    background-color: $light-gray;
    @include font($medium, 15px, $black);
    width: 100%;
    transition: opacity 0.3s;
    @include smartphone {
      font-size: 18px;
      min-width: 300px;
    }

    @include tablet {
      min-width: 200px;
    }

    &::placeholder {
      font-size: 15px;
      font-weight: $semi-bold;
      line-height: 155%;
      transition: opacity 0.4s;
      opacity: 1;
      overflow: visible;

      @include smartphone {
        font-size: 18px;
        font-weight: $medium;
      }

      @include tablet {
        font-size: 16px;
      }

      @include laptop {
        font-size: 18px;
      }
    }

    &_active {
      &::placeholder {
        opacity: 0;
      }
    }
  }

  &__icon {
    margin-right: $spacer * 2;
    min-height: 20px;
    min-width: 20px;
    max-width: 20px;
    max-height: 20px;

    svg {
      min-height: 20px;
      min-width: 20px;
    }
  }

  &__tooltip {
    max-width: 132px;
    display: flex;
    @include font($normal, 14px, $blue);
    margin: $spacer 0 $spacer * 3 0;

    &:hover {
      color: $deep-blue;
    }

    @include smartphone {
      font-size: 16px;
      max-width: 300px;
    }

    @include tablet {
      margin: 0;
      font-size: 14px;
      max-width: 100%;
      max-height: none;
      width: 135px;
    }

    .tooltip__content {
      padding-right: $spacer * 6;

      @include mobile-m {
        padding-right: 10px;
      }
    }

    i {
      color: $black;
      font-weight: $semi-bold;
    }
  }

  &__submit-button {
    @include font($normal, 14px, $blue);
    padding: 0;
    text-align: center;
    margin-left: $spacer * 3;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    display: none;

    &:hover {
      color: $deep-blue;
    }

    &:active {
      color: $dark-blue;
    }

    @include smartphone {
      font-size: 16px;
    }

    @include tablet {
      font-size: 14px;
      margin-right: $spacer * 6;
      margin-left: $spacer * 6;
    }

    &_visible {
      opacity: 0;
      display: block;
      transition: opacity 0.3s;
    }

    &_active {
      opacity: 1;
      pointer-events: all;
      transition: opacity 0.3s;
    }
  }

  &__close-button {
    opacity: 0;
    margin-left: auto;
    transition: opacity 0.3s;
    padding: 0;
    display: none;
    margin-left: auto;

    &:hover,
    &:active {
      path {
        fill: $gray;
      }
    }

    &_visible {
      opacity: 0;
      display: block;
    }

    &_active {
      opacity: 1;
      transition: opacity 0.3s;
    }
  }

  &__error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include flex-col;
    align-items: center;
    width: 100%;

    @include laptop {
      width: 548px;
    }
  }

  &__error-caption {
    @include font($normal, 15px, $gray);
    line-height: 155%;
    width: 100%;
    text-align: center;
    margin-top: $spacer * 4;

    @include mobile-m {
      font-size: 16px;
    }

    @include mobile-l {
      font-size: 18px;
    }

    @include mobile-s {
      font-size: 14px;
    }

    @include smartphone {
      font-size: 16px;
    }

    @include tablet {
      font-size: 14px;
    }

    @include laptop {
      font-size: 16px;
    }
  }

  &__error-button {
    @include font($normal, 16px, $blue);
    padding: 0px;
    margin-top: $spacer * 6;
    transition: $btn-transition;
    &:hover,
    &:focus {
      color: $deep-blue;
    }

    &:active {
      color: $dark-blue;
    }

    @include mobile-m {
      font-size: 18px;
    }

    @include laptop {
      font-size: 18px;
    }
  }

  &__highlight {
    color: $orange;
  }
}
