.tabs {
  &__activators {
    @include flex-row;
    width: 100%;
  }

  &__activator {
    color: $gray;
    box-shadow: none;
    border: none;

    @include gap($spacer * 5, $spacer * 5);

    @include laptop {
      padding: 15px 20px;
      width: 280px;
      height: 53px;
    }

    &_active {
      background: $blue;
      color: $white;

      &:hover {
        background-color: $deep-blue;
      }

      &.choose__button {
        background-color: $gray;
        box-shadow: 0 0 0 1px $gray;
        color: $white;
      }
      .choose__phones-quantity {
        color: $dim-gray;
      }
    }
  }

  &__item {
    display: none;
    opacity: 0;
    transition: opacity 0.15s ease-in;

    &_visible {
      display: block;
    }

    &_active {
      opacity: 1;
      display: block;
    }
  }

  &__tab_white {
    background: $white;
  }

  &__tab_outline-blue {
    outline: 1px solid $blue;

    &:hover {
      outline: 2px $deep-blue solid;
    }
  }
}
