.whatsapp {
  &__button {
    display: none;
    position: fixed;
    @include center;
    background-color: $green;
    cursor: pointer;
    z-index: 10;
    transform: $btn-transition;
    border-radius: 50%;
    box-shadow: $wa-shadow;
    bottom: 20px;
    right: 20px;

    height: 40px;
    width: 40px;

    svg {
      width: 20px;
      height: 20px;
    }

    @include tablet {
      height: 60px;
      width: 60px;

      svg {
        width: 30px;
        height: 30px;
      }

      right: 15px;
    }

    @include laptop {
      height: 80px;
      width: 80px;

      svg {
        width: 40px;
        height: 40px;
      }
      right: 20px;
    }

    @include desktop {
      right: calc(((100vw - 1134px) / 2) - 85px);
    }

    &:hover {
      background-color: $dark-green;
    }

    &:active,
    &:focus {
      background-color: $darker-green;
    }
  }

  &__dialog {
    max-width: 320px;
    min-width: 320px;
    max-height: 463px;
    box-sizing: border-box;
    @include center;

    @include tablet {
      max-width: 460px;
      min-width: 460px;
      max-height: 566px;
      min-height: 566px;
    }
  }

  &__dialog-body {
    max-width: 302px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: $spacer * 10 0px;
  }

  &__title,
  &__caption {
    margin-bottom: $spacer * 6;
  }

  &__qrcode {
    margin-bottom: $spacer * 4;

    img {
      width: 140px;
      height: 140px;

      @include tablet {
        width: 188px;
        height: 188px;
      }
    }
  }

  &__caption {
    font-size: 15px;

    @include tablet {
      font-size: 16px;
      line-height: 24.8px;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 26px;

    @include tablet {
      font-size: 26px;
      line-height: 33.8px;
    }
  }

  &__open-app {
    width: 226px;
    height: 55px;

    @include tablet {
      font-size: 18px;
      line-height: 130%;
    }
  }

  &__close {
    position: absolute;
    font-size: 20px;
    transform: scale(1.5);
    right: 20px;
    top: 10px;
    color: $gray;

    &:hover {
      color: $black;
    }
  }
}
