@import '../utils/mixins';
@import '../utils/vars';
@import '../utils/typo';
@import '../utils/layout';
@import '../components/reset.scss';

.header {
  margin-top: 4 * $spacer;
}

.header_upside {
  @include flex-col;
  @include laptop {
    @include flex-row;
    margin: 8 * $spacer 0 3 * $spacer;
  }
}

.header__logo {
  margin-right: 40px;
  display: none;

  a {
    display: block;
  }

  @include laptop {
    display: block;
  }
}

.header__logo_mobile {
  display: block;
  margin-right: auto;

  a {
    display: block;
  }

  @include laptop {
    display: none;
  }
}

.header__burger {
  border: none;
  background-color: $white;
  margin-left: auto;

  @include laptop {
    display: none;
  }

  &.header__burger_hidden {
    display: none;
  }
}

.header__burger_opened {
  width: 0;
  @include hidden;
  background-color: $white;

  @include laptop {
    @include hidden;
  }

  &.active {
    @include visible($opacity-transition);
    width: auto;
    background-color: $light-gray;
    border: none;

    @include laptop {
      @include hidden;
    }
  }
}

.header__menu {
  @include font(400, 16px, $gray);
  @include hidden;
  border: none;
  white-space: nowrap;

  &.active {
    @include visible($opacity-transition);
  }

  li {
    margin-top: 3 * $spacer;
  }

  @include laptop {
    @include visible(0);
    ul {
      @include flex-row;
    }

    li {
      margin: 4 * $spacer;
      flex-grow: 1;
      &:first-child {
        margin-left: 0;
        margin-top: 4 * $spacer;
      }
    }
  }
}

.button__login-button {
  @include flex-row;
  @include font(400, 16px, $black);
  @include hidden;
  background-color: $white;
  border: none;
  margin-top: 8 * $spacer;

  img {
    margin-right: 2 * $spacer;
    margin-left: 0;
  }

  @include laptop {
    margin: 0 9 * $spacer 0 13 * $spacer;
    order: 6;
    @include visible(0);
  }

  &.active {
    background-color: $light-gray;
    @include visible($opacity-transition);

    @include laptop {
      background-color: $white;
    }
  }
}

.login__phone-number {
  @include font(400, 16px, $black);
  @include hidden;
  margin-top: 3 * $spacer;

  @include laptop {
    @include visible(all 0);
    order: 2;
    margin-top: 0;
    margin-left: auto;
    display: block;
  }

  &.active {
    @include visible($opacity-transition);
  }
}

.header__dropdown {
  @include font(400, 16px, $black);
  margin-top: 2 * $spacer;
  margin-left: 0;

  @include laptop {
    margin: 0 auto 0;
    order: 2;
  }
}

.header__dropdown_menu {
  @include font(400, 14px, $gray);
  margin-left: 6 * $spacer;
  li {
    margin: $spacer * 2 0 $spacer * 2 0;
  }

  @include laptop {
    margin-left: 0;
    background-color: $light-gray;
    border-radius: 5px;

    li {
      border-radius: 5px;
      &:hover {
        background-color: $light-blue;
        &.header_dropdown {
          background-color: $light-gray;
        }
      }
    }
  }
}

.header_start-button_mobile {
  @include hidden;
  width: 100%;
  @include font(400, 16px, $blue);

  &.active {
    @include visible($opacity-transition);
    background-color: $light-gray;

    @include laptop {
      @include hidden;
    }
  }
}

.header_start-button {
  display: none;
  @include font(400, 16px, $blue);
  @include laptop {
    display: block;
    order: 6;
  }
}

.body {
  &.overlay__gray {
    background-color: $light-gray;

    @include laptop {
      background-color: $white;
    }
  }
  &.lock {
    overflow: hidden;
  }
}
