.addemploye {
  margin-top: $spacer * 16;

  &__content {
    @include laptop {
      padding: $spacer * 10;
      margin-bottom: 80px;
    }
  }

  &__card {
    display: none;
    @include laptop {
      padding: $spacer * 4 $spacer * 6;
      margin-top: 35px;
      text-align: center;
      display: block;
    }
  }

  &__card_mobile {
    display: block;
    text-align: center;
    padding: $spacer * 3;

    @include laptop {
      display: none;
    }
  }

  &__image {
    display: none;

    @include laptop {
      display: block;
    }

    &_mobile {
      align-self: center;
      display: block;

      @include laptop {
        display: none;
      }
    }
  }
}
