.calculator {
  box-sizing: border-box;
  background: $white;
  border-radius: $border-radius-xl;
  position: relative;
  z-index: 2;

  @include tablet {
    max-width: 1110px;
    padding: $spacer * 9 $spacer * 10;
  }

  &__table {
    background: $white;
    padding: $spacer * 4;

    @include tablet {
      margin-top: $spacer * 5;
      border: 1px solid $dim-gray;
      padding: $spacer * 6;
      @include flex-col;
      border-bottom: none;
    }
  }

  &__section {
    margin-bottom: $spacer * 4;
    padding-bottom: $spacer * 2;
    border-bottom: 1px solid #cdd6df;

    @include tablet {
      border-bottom: none;
      margin-bottom: $spacer * 7;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:last-child,
    &:first-child {
      border: none;
    }
  }

  &__section-header {
    font-size: 16px;
    line-height: 20.8px;

    @include tablet {
      font-size: 18px !important;
    }

    @include laptop {
      font-size: 20px !important;
    }
  }

  &__head {
    box-sizing: border-box;
    background: $light-gray;
    border-radius: $border-radius-xs;
    max-width: 100%;
    padding: $spacer * 3;
    margin-top: $spacer * 4;
    flex: 1;

    @include flex-col;

    @include tablet {
      display: block;
      min-width: 481px;
      max-width: none;
      margin-top: 0;
      flex: auto;
      padding: $spacer * 4;
    }
  }

  &__chips {
    display: none;

    @include tablet {
      display: flex;
      margin-top: $spacer * 3;
      font-size: 14px;
    }
    .chip {
      @include gap($spacer * 2, $spacer * 2);
    }
  }

  &__start {
    @include tablet {
      display: none;
    }
  }

  &__row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    @include smartphone {
      align-items: baseline;
    }

    @include tablet {
      margin-bottom: $spacer * 3;
      color: $gray;
      height: 36px;
      justify-content: left;
      align-items: center;
      max-width: 481px;
    }

    &_full-height {
      height: auto;
    }

    &_full-width {
      width: 100%;

      @include tablet {
        max-width: 759px;
      }

      .calculator__price {
        &::before {
          min-width: unset;
          @include tablet {
            min-width: 488px;
          }
        }
      }
    }

    &_offset-bottom {
      @include tablet {
        height: 62px;
        align-items: flex-end;
      }
    }

    &_flex-start {
      align-items: flex-start;

      @include tablet {
        align-items: center;
      }
    }
  }

  &__col {
    @include flex-row;
    align-items: center;
    margin-bottom: $spacer * 5;

    &_left {
      min-width: 142px;
      max-width: 142px;
      box-sizing: border-box;
      margin-right: $spacer * 3;
      position: relative;

      @include smartphone {
        min-width: 50%;
      }

      @include tablet {
        min-width: 300px;
      }

      @include laptop {
        margin-right: $spacer * 4;
        min-width: 365px;
        max-width: 365px;
        white-space: nowrap;
      }

      &::after {
        @include tablet {
          content: '';
          margin-top: -1px;
          flex-grow: 1;
          margin-left: 20px;
          border-bottom: 1px dotted $gray2;
        }
      }

      .text_regular {
        @include tablet {
          line-height: 31px;
        }
      }
    }

    &_auto-width {
      margin-right: 0;
      min-width: 100%;
      width: 100%;
      flex-grow: 1;

      @include smartphone {
        max-width: 100%;
        width: 100%;
      }

      @include tablet {
        max-width: 100%;
        width: auto;
      }
    }

    &_right {
      @include flex-col;
      position: relative;

      @include smartphone {
        max-width: 50%;
      }

      @include tablet {
        @include flex-row;
        width: fit-content;
        flex-grow: 1;
        position: static;
      }
    }

    &_mobile-hidden {
      display: none;

      @include tablet {
        display: block;
      }
    }
  }

  &__price {
    @include flex-row;

    white-space: nowrap;
    color: $black;
    flex-grow: 1;
    font-size: 14px;
    line-height: 21px;
    width: 290px;
    justify-content: flex-end;
    padding: 0px 20px;
    position: absolute;
    top: 100%;
    left: -220px;
    width: 290px;
    color: $orange !important;

    @include tablet {
      margin-left: $spacer * 2;
      font-size: 16px;
    }

    @include desktop {
      white-space: nowrap;
    }

    &_disabled {
      font-weight: 500;
      color: $gray;
      white-space: nowrap;

      .tooltip {
        display: none;
      }

      .calculator__price-fixed {
        color: $gray;

        @include tablet {
          font-size: 20px;
        }
      }

      @include tablet {
        font-size: 18px;
      }

      @include laptop {
        font-size: inherit;
      }
    }

    &_shifted {
      margin-right: -$spacer * 6;
      font-size: 20px;

      &::before {
        @include tablet {
          max-width: 10px !important;
          display: none;
        }

        @include laptop {
          max-width: 78px !important;
        }
      }
    }

    &_black {
      color: $orange;

      @include tablet {
        color: $black !important;
      }
    }

    &_single {
      @include tablet {
        font-size: 20px !important;
        color: $gray;
      }

      &::before {
        max-width: none;
      }
    }

    &_align-right {
      align-self: flex-end;
      min-width: 0px !important;
      position: static;

      @include tablet {
        display: none;
      }
    }

    @include tablet {
      font-size: inherit;
      line-height: inherit;
      color: $black !important;
      font-weight: 500;
      line-height: 26px;
      font-size: 20px;
      position: static;
      justify-content: initial;
      padding: 0;
    }

    &::before {
      display: none;
      max-width: 144px;
      min-width: 144px;

      @include tablet {
        display: block;
      }

      content: '';
      width: 100%;
      flex-basis: 100%;
      flex-grow: 1;
      margin-top: -1px;
      border-bottom: 1px dotted $gray2;
      margin-right: $spacer * 4;

      @include tablet {
        display: block;
        min-width: 77px;
      }

      @include laptop {
        max-width: 144px;
        min-width: 144px;
      }
    }

    .tooltip {
      margin-left: $spacer;
      align-self: center;
    }
  }

  &__price-container {
    display: block;

    @include tablet {
      @include flex-col;
    }

    @include desktop {
      display: block;
    }
  }

  &__ip-tel {
    @include tablet {
      align-items: flex-end;
      min-width: 467px;
      max-width: 485px;

      .text_regular {
        white-space: normal;
      }

      p {
        max-width: 460px;

        min-width: 460px;
        position: relative;
      }
    }

    @include laptop {
      min-width: 480px;
    }

    @include desktop {
      min-width: 485px;
    }
  }

  &__ip-tel-tooltip {
    position: absolute;
    left: calc(60% - 10px);
    top: 24px;

    @include smartphone {
      position: static;
    }
  }

  &__ip-tel-tooltip {
    position: absolute;
    left: calc(60% - 10px);
    top: 24px;

    @include smartphone {
      position: static;
    }
  }

  &__multiplier {
    @include flex-row;
    justify-content: space-between;
    border-radius: $border-radius-xs;
    border: 1px solid $dim-gray;
    margin-bottom: $spacer;
    width: fit-content;
    box-sizing: border-box;
    min-width: 93px;
    min-height: 36px;
    padding: 2px 10px;

    @include tablet {
      margin-right: $spacer * 4;
      margin-bottom: 0;
    }
  }

  &__input {
    width: 22px;
    pointer-events: none;
    user-select: none;
    outline: none;
    border: none;
    text-align: center;
    color: $gray;
    font-size: 20px;
    cursor: default;
  }

  &__increment,
  &__decrement {
    background: transparent;
    color: $gray;
    font-size: 20px;
    border: none;
    box-shadow: none;
    user-select: none;
    max-width: 20px;

    &:hover,
    :active {
      background: transparent;
      border: none;
      color: $orange;
    }
  }

  &__dropdown {
    font-size: 14px;
    line-height: 20px;
    color: $gray;
    display: inline;

    @include smartphone {
      font-size: 16px;
      white-space: nowrap;
    }

    @include tablet {
      font-size: 18px;
      white-space: nowrap;
      font-weight: 400;
      line-height: 31px;
    }

    @include laptop {
      font-size: 20px;
      white-space: nowrap;
      font-weight: 400;
      line-height: 31px;
    }
  }

  &__summary {
    &_mobile {
      h4 {
        color: $white;
      }
      @include font(400, 14px, $white);
      padding: 20px 15px;

      @include tablet {
        display: none;
      }
    }

    @include tablet {
      padding: $spacer * 4 $spacer * 6;
      background: $light-gray;
      border: 1px solid $light-gray;
      border-top: 0;

      h4 {
        margin-right: $spacer * 5;
      }
    }

    .calculator__row {
      margin-bottom: 0;
      max-width: 759px;
    }
  }

  &__sum {
    display: inline;
    color: $white;

    &::after {
      display: inline;
      content: ' ₽  разово,';
    }

    @include tablet {
      color: $black;
    }
  }

  &__sum-per-month {
    display: inline;
    color: $gray2;
    margin-left: $spacer;
    font-weight: 400;

    &::after {
      display: inline;
      content: ' ₽/мес';
    }
  }

  &__in-out {
    margin-top: $spacer * 4;
    margin-bottom: $spacer * 4;
    padding: 0 $spacer * 4;

    @include tablet {
      padding: auto;
      max-width: -webkit-fill-available;
    }

    h5 {
      font-size: 16px !important;
      line-height: 22.4px !important;
    }

    @include flex-col;
    width: 100%;

    svg {
      display: none;

      @include tablet {
        display: block;
      }
    }

    @include tablet {
      margin-top: $spacer * 6;
      @include flex-row;

      h5 {
        font-size: inherit;
        line-height: inherit;
      }
    }

    .container__flex {
      @include flex-row;
      margin-right: 70px;
      max-width: 300px;
    }
  }

  &__link {
    margin-top: $spacer * 2;

    @include tablet {
      margin-left: auto;
      margin-top: 0;
    }
  }

  &__price-per-month {
    transition: color 0.2s ease-in-out;

    @include font(400, 14px, $orange);
    margin-left: $spacer;

    @include tablet {
      @include font(400, 16px, $gray);
    }
  }

  &__start {
    margin-top: $spacer;
    margin-bottom: $spacer * 2;
    @include font(400, 14px, $black);
  }

  &__price-fixed {
    transition: color 0.2s ease-in-out;
    color: $orange;

    @include tablet {
      color: $black;
      font-size: 18px;
    }

    @include laptop {
      font-size: inherit;
    }
  }

  &__price-per-month {
    color: $orange;

    @include tablet {
      color: $gray2;
      font-size: 16px;
      margin: 0;
    }

    @include laptop {
      font-size: 18px;
      line-height: 130%;
    }

    @include desktop {
      margin-left: $spacer;
    }
  }
}
