.lk {
  &__card {
    padding: $spacer * 4;
    @include flex-col;
    position: relative;
    z-index: 2;

    @include laptop {
      padding: $spacer * 10 $spacer * 10;
    }

    &_bottom {
      display: flex;
      flex-direction: column;
      color: $white;
      min-height: 230px;

      @include laptop {
        padding: $spacer * 6 $spacer * 10;
        min-height: auto;
      }

      .lk__text {
        color: $light-gray !important;
        margin-top: $spacer * 2;
        margin-bottom: $spacer * 4;
        line-height: 21px;

        @include laptop {
          margin-top: $spacer;
          margin-bottom: 0px;
          white-space: nowrap;
          line-height: inherit;
        }
      }

      h4 {
        color: $white;
      }

      @include laptop {
        flex-direction: row;
        align-items: flex-start;
      }
    }
  }

  &__tabs {
    margin-top: $spacer * 5;

    @include flex-col;

    &_mobile {
      margin-top: $spacer * 5;

      @include laptop {
        display: none;
      }
    }
  }

  &__tabs-items {
    @include laptop {
      img {
        width: 1010px;
      }
      margin-top: $spacer * 5;
    }

    @include laptop {
      width: 900px;
    }
  }

  &__buttons {
    height: 53px;
  }

  &__button {
    flex-grow: 1;
  }

  &__support {
    @include flex-col;

    color: $white;

    h4 {
      font-size: 16px;
      line-height: 21px;
    }

    @include laptop {
      &__text {
        color: $light-gray !important;
        margin-bottom: $spacer * 2;
        margin-right: 33px;
      }
    }
  }

  &__whatsapp {
    @include flex-col;

    @include laptop {
      margin-left: auto;
      margin-bottom: 0;
      @include flex-row;
    }
  }

  &__whatsapp-button {
    width: 100%;

    @include laptop {
      width: 239px;
    }
    svg {
      margin-right: -10px;
    }
    @include laptop {
      margin-right: initial;
    }
  }

  &__answer-time {
    color: $light-gray;
    margin-top: $spacer * 2;
    text-align: center;

    @include laptop {
      max-width: 115px;
      margin-left: $spacer * 4;
      margin-top: 0;
    }

    width: 100%;
  }

  &__collapse {
    margin-bottom: $spacer * 3;
    overflow: visible;

    &_active {
      padding-bottom: $spacer * 3;
      border-bottom: 1px solid $dim-gray;

      .collapse__activator {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }

    .collapse__activator {
      min-height: 25px;
      padding-bottom: $spacer * 3;
      border-bottom: 1px solid $dim-gray;

      @include laptop {
        border: none;
        padding-bottom: none;
      }
    }
  }
}
