.multichannel {
  border-radius: $border12;

  &__header {
    @include flex-row;
  }

  &__upside {
    @include laptop {
      display: flex;
      padding: $spacer * 10 89px $spacer * 10 $spacer * 10;
    }
  }

  &__textblock {
    @include font(400, 16px, $gray);
    line-height: 24.8px;
    margin-bottom: $spacer * 2;
    margin-top: $spacer * 5;
  }

  &__buttonblock {
    margin-top: $spacer * 7;
    display: flex;
    align-items: center;

    &-text {
      margin-left: $spacer * 5;
    }
  }

  &__downside {
    display: flex;
    padding: $spacer * 6 $spacer * 10;
    justify-content: space-between;

    &-text {
      @include font(400, 16px, $light-gray);
      line-height: 24.8px;
    }
  }
}
