.multichannel {
  border-radius: $border-radius-xl;
  z-index: 2;

  &__checklist {
    row-gap: 10px;
  }

  &__content {
    align-self: center;
  }

  &__image {
    display: none;
    @include laptop {
      margin-left: auto;
      display: block;
    }
  }

  &__image_mobile {
    display: block;
    align-self: center;

    svg {
      width: 320px;
      height: 320px;
    }

    @include laptop {
      display: none;
    }
  }

  &__list-item {
    margin-bottom: $spacer !important;
    margin-top: 0px !important;

    @include laptop {
      margin: 0px;
    }
  }

  &__header {
    @include flex-row;
    position: relative;
  }

  &__upside {
    @include flex-col;
    padding: $spacer * 4;
    position: relative;
    z-index: 2;

    @include tablet {
      display: flex;
      flex-direction: row;
      padding: 8px $spacer * 10;
      align-items: initial;
    }

    img {
      height: 350px;
    }
  }

  &__textblock {
    @include font(400, 15px, $gray);
    line-height: 23.25px;
    margin-top: 10px;
    margin-bottom: 10px;

    @include tablet {
      @include font(400, 16px, $gray);
      line-height: 24.8px;
      margin-bottom: $spacer * 2;
      margin-top: $spacer * 5;
    }
  }

  &__buttonblock {
    @include flex-col;
    justify-content: center;
    align-items: initial;
    margin-top: $spacer * 2;

    @include laptop {
      @include flex-row;
      align-items: center;
      justify-content: flex-start;
      gap: 25px;
      margin-top: 35px;
    }

    &-text {
      margin-top: $spacer * 2;

      @include laptop {
        margin-top: 0px;
      }
    }
  }

  &__downside {
    padding: $spacer * 4;
    display: block;
    height: 230px;
    box-sizing: border-box;

    @include smartphone {
      height: 175px;
    }

    @include tablet {
      padding: $spacer * 6 $spacer * 10;
      height: 200px;
    }

    @include laptop {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      height: auto;
    }

    &-text {
      @include font(400, 14px, $light-gray);
      line-height: 21px;
      margin-top: $spacer * 2;
      margin-bottom: $spacer * 4;

      @include laptop {
        @include font(400, 16px, $light-gray);
        line-height: 24.8px;
        margin-bottom: 0px;
        margin-top: $spacer;
      }
    }
  }
}

.multichannel__button {
  display: none;

  @include laptop {
    display: block;
    max-width: 326px;
  }

  &-up {
    padding: 15px 30px;
  }
}

.multichannel__button_mobile {
  display: block;
  padding: $spacer * 3 $spacer * 2;
  width: 100%;

  text-align: center;
  @include laptop {
    display: none;
  }
}

.multichannel__downside-header {
  @include laptop {
    font-size: 20px;
  }

  font-size: 16px;
}
