.addemploye {
  margin-top: 80px;

  &__card {
    display: none;
    @include laptop {
      padding: $spacer * 4 $spacer * 6;
      margin-top: 35px;
      text-align: center;
      display: block;
    }
  }

  &__card_mobile {
    display: block;
    text-align: center;
    padding: $spacer * 3;

    @include laptop {
      display: none;
    }
  }

  &__image {
    display: none;

    @include laptop {
      display: block;
    }
  }

  &__image_mobile {
    align-self: center;
    display: block;

    @include laptop {
      display: none;
    }
  }
}
