<div
  style="
    position: relative;
    overflow: auto;
    width: 280px;
    max-height: 258px;
    font-family: Arial;
    color: #39506d;
    line-height: 120%;
  "
>
  <div style="margin-bottom: 10px">
    Я уже 6-ой год приезжаю к Вам на обследование, и несмотря на трудности
    проезда, менять&nbsp;место обследования не собираюсь!
  </div>
  <div style="margin-bottom: 10px">
    Обследование проходит очень быстро, фактически 3 часа и ты свободен. Быстро,
    не ожидая никакой очереди. Медицинский персонал очень обходительный и
    приятный. Отсутствие знания иностранного языка не&nbsp;вызывает ни каких
    проблем, рядом всегда переводчик, помогает, объясняет и рассказывает о
    проводимой процедуре.
  </div>
  <div style="margin-bottom: 10px">
    Спасибо огромное Вам за то, что всегда на связи и любой мой вопрос
    не&nbsp;остался без ответа. Для меня очень важно быть на связи, поскольку
    я&nbsp;совершенно не владею иностранными языками. Консультация
    с&nbsp;терапевтом по результатам обследования проведена очень грамотно, все
    разъяснили, выписали лекарство. Можно было задать любой вопрос врачу
    и&nbsp;получить ответ. И конечно, очень приятным бонусом для меня стало
    получение отчета о&nbsp;обследовании с переводом на русский язык!
  </div>
  <div>Спасибо Вам огромное за труд, за помощь, внимание и участие!</div>
  <div class="shade"></div>
</div>
