.business-steps {
  padding-top: $spacer * 12;

  @include tablet {
    padding: $spacer * 21 0 $spacer * 10;
  }

  &__step {
    padding: $spacer * 4;

    @include tablet {
      padding: $spacer * 10;
    }
  }

  &__first-step {
    @include tablet {
      display: flex;
    }
  }

  &__textblock {
    @include tablet {
      margin-right: $spacer * 4;
    }

    @include laptop {
      margin-right: $spacer * 6;
      max-width: 490px;
    }
  }

  &__iconblock {
    display: grid;

    @include smartphone {
      @include flex-row;
    }
  }

  &__header {
    @include flex-row;

    h3 {
      margin-left: $spacer * 2;
    }

    @include smartphone {
      h3 {
        font-size: 22px;
      }
    }

    @include tablet {
      h3 {
        font-size: 17px;
        margin-left: $spacer * 3;
      }
    }

    @include laptop {
      h3 {
        font-size: 26px;
        white-space: nowrap;
      }
    }
  }

  &__caption {
    @include font($normal, 14px, $gray);
    line-height: 155%;
    margin: $spacer * 2 0 $spacer * 4;

    @include smartphone {
      font-size: 16px;
    }

    @include tablet {
      font-size: 14px;
      margin: $spacer * 4 0 0;
    }

    @include laptop {
      font-size: 16px;
    }
  }

  &__downside {
    margin-bottom: $spacer * 5;
    min-height: 226px;

    &:last-child {
      margin-bottom: 0px;
    }
    @include tablet {
      display: flex;
      min-height: 135px;
      max-height: 195px;
      padding-top: 30px;
      padding-bottom: 30px;
      margin-bottom: $spacer * 11;
    }
  }

  &__subheader {
    @include tablet {
      margin-top: $spacer * 4;

      h4 {
        font-size: 16.5px;
      }
    }
  }

  &__downside-header {
    margin-bottom: 10px;
    color: $white;
    @include tablet {
      max-width: 235px;
      min-width: 235px;
      margin: 0 $spacer * 5 0 0;
    }

    @include laptop {
      margin: 0 $spacer * 13 0 0;
      max-width: 240px;
      min-width: 240px;
    }
  }

  &__downside-caption {
    color: $light-gray;
    line-height: 150%;
    margin-top: 0px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0px;
    }

    @include tablet {
      line-height: 155%;
    }
  }

  &__checklist {
    @include tablet {
      margin-top: $spacer * 2;
    }
  }

  &__playerblock {
    @include tablet {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}
