/*colors*/

$orange: #f88c28;
$black: #344351;
$blue: #2b8feb;
$gray: #5e6b77;
$light-gray: #f6f7f8;
$white: #ffffff;
$green: #65d072;
$light-blue: #8ec0ef;
$deep-blue: #1971c2;
$light-green: #abe1b2;

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@100;200;300;400;500;600;700;800;900&display=swap');
$family: 'Manrope';

/*sizes*/
$multi: 5px;
