/* base */

@import './base/reset';
@import './base/layout';

/* components */
@import './components/button';
@import './components/header';
@import './components/dropdown';
@import './components/login';
@import './components/link';
@import './components/cards';
@import './components/footer';
@import './components/collapse';
@import './components/modal';
@import './components/overlay';
@import './components/tooltip';
@import './components/icon';
@import './components/breadcrumbs';
@import './components/autocomplete';
@import './components/cart';
@import './components/search';
@import './components/input';
@import './components/filter';
@import './components/divider';
@import './components/loader';
@import './components/whatsapp';
@import './components/gift';
@import './long/header-long.scss';
@import './long/footer-long.scss';

/**sections**/
@import './sections/common/startuse';
@import './sections/common/steps/steps'; /* <= imports all step sections */
@import './sections/price/calls';
@import './sections/price/virtueats';
@import './sections/numbers/workphone';
@import './sections/price/phone-numbers';
@import './sections/numbers/choose';

.numbers {
  &__header {
    margin-top: $spacer * 6;
    margin-bottom: $spacer * 5;

    @include tablet {
      margin-top: $spacer * 14;
      margin-bottom: 0px;
    }
  }
}

.mobile-hidden {
  display: none !important;

  @include laptop {
    display: flex !important;
  }
}

.mobile-only {
  @include laptop {
    display: none;
  }
}

.background_gray {
  background-color: $light-gray;

  @include laptop {
    height: 65px;
  }
}

.no-select {
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}

.no-wrap {
  white-space: nowrap;
}

.tablet-only {
  display: none;

  @include tablet {
    display: block;
  }

  @include laptop {
    display: none;
  }
}

.tablet-hidden {
  @include tablet {
    display: none;
  }

  @include laptop {
    display: block;
  }
}

.mobile-block {
  display: block;
  @include tablet {
    display: none;
  }
}

.mobile {
  display: flex;

  @include tablet {
    display: none;
  }
}

.tablet {
  display: none;
  @include tablet {
    display: flex;
  }
}

.smartphone {
  display: block;
  @include mobile-s {
    display: none;
  }

  @include smartphone {
    display: none;
  }
}

.tablet-block {
  display: none;
  @include tablet {
    display: block;
  }
}

.mobile-375 {
  display: none;

  @include mobile-375 {
    display: flex;
  }
}
