/* base */
@import './base/reset';
@import './base/layout';

/* components */
@import './components/button';
@import './components/header';
@import './components/dropdown';
@import './components/tabs';
@import './components/login';
@import './components/link';
@import './components/cards';
@import './components/footer';
@import './components/chips';
@import './components/collapse';
@import './components/modal';
@import './components/overlay';
@import './components/tooltip';
@import './components/icon';
@import './components/breadcrumbs';
@import './components/price-table';
@import './components/autocomplete';
@import './components/cart';
@import './components/search';
@import './components/input';
@import './components/filter';
@import './components/divider';
@import './components/loader';
@import './components/whatsapp';
@import './long/header-long.scss';
@import './long/footer-long.scss';

/**sections**/
@import './sections/common/startuse';
@import './sections/common/steps/steps'; /* <= imports all step sections */
@import './sections/price/calls';
@import './sections/price/virtueats';
@import './sections/numbers/workphone';
@import './sections/price/phone-numbers';
@import './sections/numbers/choose';

.numbers {
  &__header {
    margin-top: $spacer * 6;
    margin-bottom: $spacer * 5;

    @include tablet {
      margin-top: $spacer * 14;
    }
  }
}
