@import '../base/layout';
@import '../utils/vars';
@import '../utils/mixins';

.footer-downside {
  @include flex-col;
  margin-top: 0;

  @include tablet {
    margin-top: $spacer * 9;

    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
    justify-content: space-between;
    grid-column-gap: 15px;
  }

  @include laptop {
    grid-column-gap: 0px;
  }

  &__menu {
    flex: 1;
    margin-bottom: $spacer * 3;

    @include tablet {
      margin-bottom: $spacer * 7;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  &__dropdown-menu {
    margin-top: $spacer * 2 !important;

    @include tablet {
      display: block;
      opacity: 1;
      position: static;
      height: auto;
      margin-top: $spacer * 4;
    }
  }

  &__menu-item {
    @include font(400, 14px, $white);
    line-height: 21px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__header {
    @include font(600, 16px, $white);
    font-weight: 600 !important;
    line-height: 24.8px;

    &::after {
      display: flex;

      @include tablet {
        display: none;
        cursor: auto;
      }
    }
  }

  &__help {
    grid-column: 4;
    grid-row: 1;
  }

  &__contacts {
    @include smartphone {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 4;
      display: grid;
      max-height: 174px;
      align-self: baseline;
    }
  }

  &__link {
    display: flex;
    align-items: baseline;

    &:hover {
      svg {
        stroke: $dark-orange;

        path {
          fill: $dark-orange;
          transition: fill 0.3s ease;
        }
      }
    }

    svg {
      fill: $orange;
      margin-left: $spacer;
      align-self: center;
      transition: stroke 0.3s ease, fill 0.3s ease;
    }
  }

  .footer-contatcs {
    font-size: 14px;
    background: $gray !important;
    border-radius: $border-radius-xs;
    margin-top: $spacer * 10;
    line-height: 21px;
    color: $white;
    align-items: flex-start;

    &__copy {
      @include laptop {
        grid-column-start: 1;
        grid-column-end: 4;
        display: grid;
      }
    }

    &__address {
      @include laptop {
        grid-column-start: 1;
        grid-column-end: 4;
        display: grid;
      }
    }

    &__phone {
      grid-row-start: 3;
      margin-left: 0px;
    }

    &__email {
      grid-row-start: 3;
    }
  }

  .footer-contacts__list {
    @include flex-col;
    margin-top: 0;
    align-items: start;
    padding: 0;

    @include tablet {
      padding: 0;
      align-items: start;
    }

    @include laptop {
      display: grid !important;
      grid-template-columns: repeat(2, 1fr) !important;
      background: $gray !important;
      padding: $spacer * 8 $spacer * 10;
      border-radius: $border-radius-xs;
      margin-top: 40px;
    }
  }
}

.footer__divider {
  display: block !important;
  margin-bottom: $spacer * 6;
  margin-top: $spacer * 6;

  @include tablet {
    margin-bottom: 0;
  }

  @include laptop {
    margin-bottom: 0;
  }
}

.footer-downside__contacts__email {
  grid-row-start: 3;
}

.footer-downside__contacts__docs {
  grid-row-start: 3;
}

.footer-downside__contacts__docs {
  grid-row-start: 3;
}

.footer-downside__contacts__phone {
  grid-row-start: 3;
}
