@import '../utils/';

.header-nav {
  display: none;
  transform: translateY(5px);
  @include laptop {
    transform: none;

    @include flex-row;
    justify-content: space-between;
    height: 65px;
    color: $gray;
    @include font(400, 16px, $gray);
    line-height: 24.8px;
    margin-top: 40px;
  }

  &__tech-menu {
    @include laptop {
      left: -11vw !important;
    }

    .dropdown__arrow {
      &::before {
        left: calc(11vw + 50px) !important;
      }
    }
  }

  .dropdown__button {
    color: $gray;

    &:hover {
      color: $blue;
    }
  }

  &__menu {
    &-container {
      @include flex-col;
      border-radius: 0;
      background-color: $light-gray !important;
      width: fit-content;
      padding-left: $spacer * 2;
      margin-top: $spacer * 2;

      @include laptop {
        @include flex-row(flex-start);
        border-radius: $border-radius-xs;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
        padding: $spacer * 4 $spacer * 5;
        margin-top: 0;
      }

      ul {
        @include gap($spacer * 6, $spacer * 2);

        padding-top: $spacer * 3;

        @include laptop {
          margin-bottom: 0;
          padding-top: 0px;
        }

        &:first-child {
          padding-top: 0;
        }
      }
    }

    @include laptop {
      max-height: auto !important;
      z-index: 1;
      right: 0;
      left: -184%;
      top: 40px;
      width: 650px;

      .more {
        padding: 20px;
        height: 230px;
        max-width: fit-content;
      }
    }
  }

  &__menu-item {
    @include font(400, 14px, $gray);
    line-height: 21px;
    margin-bottom: $spacer * 2;

    &:last-child {
      margin-bottom: 0px;
    }

    @include tablet {
      white-space: nowrap;
    }
  }

  &__title {
    @include font(600, 16px, $black);
    margin-bottom: $spacer * 2;
    font-size: 14px;

    @include laptop {
      font-size: 16px;
      line-height: 24.8px;
      margin-bottom: $spacer * 3;

      &:hover {
        color: $black;
      }
    }
  }

  &__case {
    color: $gray;
    margin: $spacer * 2 0 $spacer * 3;

    &:last-child {
      margin-bottom: $spacer * 4;
    }

    @include laptop {
      margin: 0;
      display: block;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__link {
    display: flex;
    align-items: baseline;

    &:hover {
      svg {
        path {
          fill: $dark-orange;
          transition: $icon-transition;
        }
      }
    }

    svg {
      transition: $icon-transition;
      fill: $orange;
      margin-left: $spacer;
      align-self: center;
    }
  }

  &__tech {
    margin-top: -$spacer;

    @include laptop {
      margin-top: unset;
    }
  }
}

.nav {
  &__dropdown {
    height: 21px;
    color: $gray;
    margin-bottom: $spacer * 3;
    margin-top: $spacer;

    @include laptop {
      margin: -9px 0 0;
    }
  }

  &__button {
    margin-top: 0;
    font-style: normal;
    font-weight: 400;
    color: $gray;
  }

  &__arrow {
    display: none;
    height: 15px;
    margin: 0;
    min-width: 100%;

    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background: $light-gray;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      top: 15px;
      left: 80px !important;
      z-index: 1;
      overflow: visible;
    }

    @include laptop {
      display: block;
    }
  }

  &__container {
    display: block;

    @include laptop {
      @include flex-row;
    }
  }
}

.header__login {
  margin-top: 50px;

  @include laptop {
    margin-top: 0;
  }
}

.header__help {
  color: $gray;
  margin-top: 15px;

  @include laptop {
    margin-bottom: -5px;
    margin-top: 0px;
    color: $black;
    margin-left: auto;
  }

  ul {
    padding-bottom: $spacer * 3 !important;
    padding-top: $spacer * 3;

    @include laptop {
      padding-bottom: 0;
      padding-top: 0;

      li {
        &:first-child {
          margin-top: 10px;
        }
      }
    }

    &:first-child {
      padding-top: 0px;
    }
  }
}

.header {
  .login__phone-number {
    margin: 0 !important;

    @include laptop {
      margin-left: 30px !important;
      margin-top: 7px !important;
    }
  }

  .login {
    @include laptop {
      padding: 0;
    }
  }
}

.background_gray {
  @include tablet {
    margin-top: -$spacer * 3;
  }
}

.longcity {
  margin-top: 10px;
  @include tablet {
    margin-top: 10px;
  }

  @include laptop {
    margin-bottom: 5px;
  }
}
