@import '../utils/vars';
.card {
  &_hover {
    border: 1px solid transparent;
    cursor: pointer;
    transition: $card-transition;

    &:focus,
    :active {
      border-color: $orange;
      box-shadow: none;
    }

    &:hover {
      border-color: $orange;
      box-shadow: $card-shadow;
    }

    &.card-rounded {
      &:hover {
        box-shadow: none;
      }
    }
  }
}
