.choose {
  padding-bottom: $spacer * 16;

  @include tablet {
    padding-bottom: $spacer * 30;
  }

  &__content {
    @include tablet {
      padding-top: $spacer * 11;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      min-height: 678px;
      max-height: 678px;
    }

    @include laptop {
      grid-template-columns: 350px 350px 380px;
    }

    @include desktop {
      grid-template-columns: 370px 360px 380px;
    }
  }

  &__number-tabs {
    border-radius: 5px;
    max-width: 100%;
    box-sizing: border-box;
    background-color: $light-gray;
    @include tablet {
      max-height: 53px;
    }

    @include laptop {
      max-width: 350px;
    }

    @include desktop {
      max-width: 370px;
      max-height: 53px;
    }
  }

  &__button {
    display: inline-block;
    margin: 0;
    padding: $spacer * 2;
    color: $black;
    @include font($medium, 15px, $black);
    line-height: 155%;
    transition: $btn-transition;

    &:hover {
      box-shadow: 0 0 0 1px $gray;
      transition: box-shadow 0.1s;
    }

    @include smartphone {
      font-size: 18px;
    }

    @include tablet {
      padding: $spacer * 2;
      font-size: 15px;
    }

    @include laptop {
      font-size: 18px;
      line-height: 23.4px;
    }

    @include desktop {
      padding: $spacer * 3 $spacer * 4;
    }
  }

  &__button_cities {
    flex-grow: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 1px;
    @include laptop {
      max-width: 132px;
    }
  }

  &__button_mobiles {
    flex-grow: 1;
    margin-left: 1px;
    border-radius: 0;
    margin-right: 1px;
  }

  &__button_8800 {
    flex-grow: 1;
    margin-left: 1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    @include laptop {
      flex-shrink: 1;
      flex-grow: 0;
      max-width: 92px;
    }
  }

  &__autocomplete {
    @include tablet {
      margin-left: $spacer * 2;
      padding: $spacer * 3 $spacer * 4;
      border-color: $dim-gray;
      border-radius: $border-radius-xs;
    }
  }

  &__input {
    padding: 0px;

    @include tablet {
      @include font($medium, 18px, $black);
    }

    &::placeholder {
      overflow: visible;
      line-height: 155%;
      padding: 0px;
    }
  }

  &__city-code {
    color: $gray2;
  }

  &__phones {
    @include tablet {
      background-color: $light-gray;
      min-width: 100%;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 3;
      margin-top: $spacer * 5;
    }

    @include laptop {
      min-width: 700px;
      max-width: 700px;
      min-height: 537px;
      max-height: 537px;
    }

    @include desktop {
      min-width: 730px;
      max-width: 730px;
    }
  }

  &__phones-filters {
    display: block;
    box-sizing: border-box;
    @include tablet {
      padding: 10px;
      padding-bottom: 20px;
      max-height: 92px;
      display: flex;
    }
    @include laptop {
      padding: $spacer * 5 $spacer * 9 $spacer * 4 $spacer * 4;
    }
  }

  &__button-phones {
    display: inline;
    @include font($normal, 15px, $black);
    line-height: 155%;
    padding: 0px;
    @include tablet {
      margin-right: $spacer;
      padding: 0px;
      font-size: 12px;
      text-align: left;
      padding: $spacer;
      background-color: $white;
    }

    @include tablet-1024 {
      font-size: 13px;
    }

    @include laptop {
      margin-right: $spacer * 2;
      padding: $spacer $spacer * 2;
      font-size: 14px;

      min-height: 52px;
      max-width: 145px;
      line-height: 130%;
    }

    &:last-child {
      margin-right: 0px;
    }
  }

  &__button-header {
    font-weight: $semi-bold;
    @include tablet {
      font-weight: unset;
    }
  }

  &__button_usual {
    @include tablet {
      width: 133px;
    }
  }

  &__button_bronze {
    @include tablet {
      width: 137px;
    }
  }

  &__button_silver {
    @include tablet {
      width: 145px;
    }
  }

  &__button_gold {
    @include tablet {
      width: 113px;
    }
  }

  &__button_vip {
    @include tablet {
      width: 93px;
    }
  }

  &__button_price {
    color: $gray2;
  }

  &__phones-quantity {
    font-weight: $normal;
    color: $gray;
  }

  &__phones-header {
    @include font($normal, 15px, $black);
    line-height: 155%;
    text-align: center;

    @include smartphone {
      font-size: 18px;
    }

    @include tablet {
      font-weight: $medium;
      font-size: 16px;
    }

    @include laptop {
      font-size: 18px;
    }
  }

  &__phones-filter-item {
    min-height: 350px;
    box-sizing: border-box;
    position: relative;
    overflow: visible;
    @include tablet {
      padding: $spacer * 5 $spacer * 4 $spacer * 4 $spacer * 4;
      min-height: 410px;
      max-height: 410px;
    }

    @include laptop {
      min-height: 400px;
      max-height: 400px;
    }
  }

  &__phones-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 58px);
    grid-gap: $spacer * 2;
    max-height: 335px;
    min-height: 335px;
    overflow: hidden;
    margin-bottom: $spacer * 6;
    padding-top: $spacer * 2;
    padding-left: 1px;
    padding-right: 1px;

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: $spacer;
      grid-template-rows: repeat(3, 57px);
      margin-bottom: 0px;
      max-height: 308px;
      min-height: 308px;
      padding-top: $spacer * 4;
    }

    @include laptop {
      grid-template-columns: repeat(4, 150px);
      grid-template-rows: repeat(4, 66px);
      width: 100%;
      grid-gap: $spacer * 3;
      max-height: 309px;
      min-height: 309px;
    }

    @include desktop {
      grid-template-columns: repeat(4, 161px);
    }
  }

  &__phones-card {
    min-height: 58px;
    max-height: 58px;
    border: 1px solid $cold-gray;
    border-radius: $border-radius-xs;
    text-align: center;
    @include flex-col;
    justify-content: center;
    @include font($medium, 14px, $black);
    line-height: 155%;
    cursor: pointer;
    transition: $btn-transition;

    @include tablet {
      &:hover {
        box-shadow: 0 0 0 1px $blue;
      }
    }

    &_disabled {
      background-color: $blue;
      color: $white;
      .choose__city-code,
      .choose__phones-vip-price,
      .choose__phones-pair-complect {
        color: $light-blue;
      }
    }

    &_disabled {
      .tooltip {
        svg {
          fill: $orange;

          path {
            fill: $white;
          }
        }
      }
    }
    @include smartphone {
      font-size: 18px;
    }

    @include tablet {
      font-size: 13px;
      max-height: 50px;
    }

    @include laptop {
      min-width: 150px;
      max-width: 149px;
      min-height: 65px;
      max-height: 65px;
      font-size: 14px;
    }

    @include desktop {
      min-width: 161px;
      max-width: 161px;
    }

    &_active {
      background-color: $blue;
      color: $white;
    }
  }

  &__phones-vip-price {
    @include font($normal, 12px, $gray2);
    line-height: 150%;

    @include smartphone {
      font-size: 15px;
    }

    @include tablet {
      font-size: 12px;
    }
  }

  &__phones-pair-complect {
    @include font($normal, 12px, $gray2);
    line-height: 150%;

    @include smartphone {
      font-size: 15px;
    }

    @include tablet {
      font-size: 12px;
    }

    @include desktop {
      font-size: 14px;
    }
  }

  &__phones-pair-tooltip {
    .tooltip__actiavtor {
      vertical-align: bottom;
      margin-right: 0px;
    }
  }
}
