.cases-bottom {
  &__textblock-header {
    margin-bottom: $spacer;

    @include tablet {
      h4 {
        font-size: 16px;
      }
    }

    @include tablet-1024 {
      h4 {
        font-size: 18px;
      }
    }
  }

  @include laptop {
    margin-bottom: $spacer * 2;

    h4 {
      font-size: 18px;
    }
  }

  @include desktop {
    margin-bottom: $spacer * 2;

    h4 {
      font-size: 20px;
    }
  }
}

.casess-bottom__card {
  padding: $spacer * 4;
  display: block;

  @include tablet {
    display: flex;
  }

  @include laptop {
    padding: $spacer * 10;
  }
}

.cases-bottom__textblock {
  max-width: 100%;
  margin-bottom: $spacer * 4;

  @include tablet {
    margin-bottom: 0px;
  }

  @include laptop {
    min-width: 307px;

    &:last-child {
      margin-right: 0px;
    }

    &:first-child {
      margin-right: 37px;
    }
  }
}

.cases-bottom__textblock-text {
  width: 100%;
}
