.hero {
  @include flex-col;
  margin-top: $spacer * 10;
  max-width: 100%;

  h1 {
    @include laptop {
      margin-top: 100px;
    }
  }

  @include desktop {
    width: 100%;
  }

  @include tablet {
    margin-top: $spacer * 9;
    margin-bottom: 100px;
  }

  &__container {
    @include flex-col;
    justify-content: center;

    @include tablet {
      @include flex-row;
      align-items: flex-start;
    }
  }

  &__cards {
    @include flex-col;

    @include tablet {
      @include flex-row;
      margin-top: 58px;
    }
  }

  &__card {
    padding: $spacer * 4;

    margin: 0 0 $spacer * 3 0;
    height: 33.3%;
    width: 100%;

    &:first-child {
      margin-top: $spacer * 9;

      @include tablet {
        margin-top: 0;
      }
    }

    svg {
      min-width: 60px;
      @include tablet {
        min-width: 40px;
      }
    }

    @include tablet {
      margin-right: $spacer * 2;
      max-width: 100%;
      flex-grow: 1;
      padding: 40px 20px;
      margin-bottom: 0px;
      max-height: 196px;
      min-height: 196px;

      h4 {
        @include laptop {
          margin-left: $spacer * 4;
        }
        margin-left: $spacer * 4;
      }

      &:last-child {
        margin-right: 0px;
      }
    }

    @include laptop {
      margin-right: $spacer * 6;
      min-height: 230px;
      max-height: 230px;
      min-width: 346px;
      padding-top: $spacer * 5;
    }

    @include laptop {
      padding: $spacer * 9 $spacer * 5 $spacer * 8 $spacer * 5;
    }
  }

  &__card-header {
    @include tablet {
      margin-bottom: $spacer * 2;
    }

    h4 {
      margin-left: $spacer * 2;
      font-size: 16px;
      line-height: 26px;

      @include tablet {
        font-size: 17px;
        line-height: 22px;
      }

      @include laptop {
        font-size: 20px;
        line-height: 26px;
        margin-left: $spacer * 4;
      }
    }
  }

  &__textblock {
    @include flex-col;
    margin: 0 auto;

    @include tablet {
      margin-right: 15px;
    }
    @include laptop {
      margin-right: 0px;
    }
  }

  &__imageblock {
    display: none;

    @include tablet {
      display: block;
      margin-left: auto;
      overflow: visible;
    }

    @include laptop {
      width: 522px;
      height: 532px;
    }

    img {
      @include tablet {
        width: 313px;
        height: 315px;

        @include laptop {
          width: 522px;
          height: 532px;
        }
      }
    }
  }

  &__imageblock_mobile {
    display: block;
    margin: $spacer * 4 auto 0;

    @include tablet {
      display: none;
    }
  }

  &__text {
    @include tablet {
      line-height: 31px;
    }
  }

  &__label {
    display: flex;
    justify-content: center;
    margin-top: $spacer * 2;
    box-sizing: border-box;

    @include tablet {
      background-color: $light-gray;
      border-radius: 0px $border-radius-xs 0 $border-radius-xs;
      padding: $spacer * 3 $spacer * 4;
      margin-top: $spacer * 8;
      white-space: nowrap;
      align-items: center;
      @include font(400, 14px, $gray);
      flex-shrink: 0;
      width: 311px;
      height: 55px;

      @include laptop {
        width: 348px;
        @include font(400, 16px, $gray);
        line-height: 24.8px;
      }
    }

    &_hidden {
      display: none;
    }

    &_visible {
      display: none;
      opacity: 1;
    }
  }

  &__card-container {
    max-height: 100%;
    margin-top: 45px;

    @include tablet {
      align-items: flex-start;
      @include flex-col;
      max-height: 230px;
      max-width: 290px;
    }
  }

  &__text {
    margin-top: $spacer * 3;
  }

  &__button {
    width: 100%;
    margin-right: 0px;
    z-index: 2;

    @include tablet {
      flex-direction: row;
      justify-content: flex-start;

      .container-adaptive {
        justify-content: flex-start;
      }
    }

    &_small {
      width: 100%;
      margin-right: 0px;
      z-index: 2;

      @include tablet {
        margin-top: 40px;
        @include font(400, 16px, $white);
        line-height: 21.7px;
        padding: 15px 30px;
      }
      @include laptop {
        @include font(400, 16px, $white);
        width: 200px;
      }
    }
  }
}

.hero_small {
  @include tablet {
    font-size: 14px;
    line-height: 21.7px;
    font-weight: 400;
  }
  @include laptop {
    font-size: 16px;
    line-height: 24.8px;
  }
}

.hero__button .container_adaptive {
  justify-content: flex-start;
}

.hero__text {
  @include tablet-768 {
    width: 60%;
  }
  @include tablet {
    width: 100%;
  }
}
