.stats {
  &__articles {
    @include flex-col;
    margin: $spacer * 8 0 $spacer * 16;

    @include tablet {
      @include flex-row;
      margin-top: $spacer * 14;
      margin-bottom: 150px;
    }
  }

  &__item {
    margin-bottom: $spacer * 4;

    &:last-child {
      margin-bottom: 0;
    }

    @include tablet {
      margin-bottom: 0;
      margin-right: $spacer * 7;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__header {
    margin-bottom: $spacer;
    @include tablet {
      font-size: 26px;
    }

    @include laptop {
      font-size: 32px;
      line-height: 43px;
    }
  }

  &__caption {
    color: $gray;
    line-height: 23px;
  }
}
