.features {
  .container {
    background: $light-gray;
    border-radius: $border-radius-xl;
    margin-top: $spacer * 12;
  }

  &__block {
    padding: $spacer * 4;

    @include tablet {
      margin-top: 20px;
      padding: $spacer * 8 $spacer * 6;
      padding-bottom: $spacer * 5;

      .container {
        margin-top: 0px;
      }
    }

    @include laptop {
      padding: $spacer * 8 $spacer * 10;
      margin-top: 40px;
      display: flex;
      padding-bottom: 0;
    }

    &:first-child {
      @include tablet {
        padding-top: $spacer * 10;
      }
    }

    &:nth-child(3) {
      @include laptop {
        padding-bottom: $spacer * 10;
      }
    }
  }

  &__header {
    @include flex-col;
    max-width: 240px;
    margin-bottom: $spacer * 4;

    @include tablet {
      margin-right: $spacer * 6;
      min-width: 395px;
    }

    h3 {
      display: block;
      margin-bottom: $spacer;

      @include mobile-m {
        width: calc(100vw - 65px);
        font-size: 16px;
      }

      @include mobile-s {
        max-height: 60px;
        box-sizing: border-box;
        width: calc(100vw - 50px);
        display: inline-block;
        font-size: 18px;
      }

      @include smartphone {
        box-sizing: border-box;
        width: calc(100vw - 140px);
        display: inline-block;
        .text_orange {
          margin-left: 5px;
        }
      }

      @include tablet {
        margin-bottom: $spacer * 4;
        display: inline-flex;
        width: calc(100vw - 140px);
      }

      @include laptop {
        display: inline-block;
        width: auto;
        .text_orange {
          margin-left: 0px;
        }
      }
    }

    ul {
      @include laptop {
        width: 380px;
      }
    }
  }

  &__checklist {
    width: 100%;
    @include mobile-m {
      width: calc(100vw - 60px);
    }
    @include mobile-s {
      @include flex-col;
      width: calc(100vw - 60px);
      line-height: 20px;

      li {
        margin-right: 5px;
      }
    }

    @include smartphone {
      flex-direction: column;
      display: flex;
      width: calc(100vw - 80px);

      li {
        margin-right: 5px;
      }
    }

    @include tablet {
      width: auto;
      display: unset;

      li {
        white-space: nowrap;
        margin-right: unset;
      }
    }
  }

  &__checklist-item {
    color: $gray;
    align-items: flex-start;
    margin-bottom: 5px;

    @include tablet {
      font-size: 17px;
    }

    @include laptop {
      font-size: 16px;
      white-space: nowrap;
      align-items: flex-end;
    }
  }

  &__accent {
    color: $orange;
    display: block;
    font-weight: 600;
    line-height: 26px;
    font-size: inherit;

    @include mobile-m {
      display: inline;
    }

    @include smartphone {
      display: inline;
    }

    @include tablet {
      line-height: 34px;
      margin-left: 5px;
    }

    @include laptop {
      display: block;
      margin-left: 0;
    }
  }

  &__cards {
    @include flex-col;
    width: 100%;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-row-gap: $spacer * 2;
      grid-column-gap: $spacer * 2;
      flex-grow: 0;
    }

    @include laptop {
      display: grid;
      grid-template-columns: repeat(2, minmax(245px, 1fr));
      grid-template-rows: repeat(2, 183px);
      grid-gap: 0px;
      gap: 15px;
    }
  }

  &__card {
    padding: $spacer * 3 $spacer * 3;
    height: 165px;
    margin-bottom: $spacer * 3;

    @include smartphone {
      height: 151px;
    }

    @include tablet {
      width: 390px;
      height: 170px;
      margin-bottom: 0px;
    }

    @include tablet-1024 {
      width: 415px;
      height: 170px;
      margin-bottom: 0px;
    }

    @include laptop {
      width: 280px;
      height: 183px;
      padding: 20px;
      margin-bottom: $spacer * 3;
    }
  }

  &__icon {
    max-width: 60px;
    max-height: 60px;
    margin-bottom: 5px;
  }

  &__caption {
    margin-top: $spacer;
    @include font(400, 14px, $gray);
    line-height: 21px;
  }

  &__bottom {
    color: $white;
    background: $black;
    padding: $spacer * 4;
    box-sizing: border-box;

    @include tablet {
      padding: $spacer * 6 $spacer * 6;
      box-sizing: initial;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    @include laptop {
      @include flex-row;
      padding: $spacer * 6 $spacer * 10;
      align-items: flex-start;
    }

    h4 {
      color: $white;
      font-size: 16px;

      @include tablet {
        font-size: 20px;
        flex: 1;
      }
    }
  }

  .list {
    @include mobile-s {
      display: grid;
      grid-template-columns: 50% 50%;
      column-gap: 0;
      row-gap: $spacer * 2;
      white-space: nowrap;
      width: 100%;
      font-size: 16px;
    }

    @include smartphone {
      display: grid;
      grid-template-columns: 50% 50%;
      column-gap: 0;
      row-gap: $spacer * 2;
      white-space: nowrap;
      width: 100%;
    }

    @include tablet {
      grid-template-columns: min(50%, 160px) min(50%, 160px);
      grid-template-rows: 25px 25px;
      row-gap: 0px;
    }

    @include tablet-1024 {
      row-gap: $spacer;
      column-gap: 10px;
    }

    @include laptop {
      width: unset;
      grid-template-columns: 160px 160px;
      column-gap: $spacer * 7;
      row-gap: 10px;
    }
  }

  &__gift {
    margin-right: 12px;
    margin-bottom: $spacer * 3;
    @include flex-row;
    height: 42px;

    svg {
      max-height: 40px;
      margin-right: 12px;
      min-height: 40px;
      min-width: 40px;
    }

    @include tablet {
      margin-bottom: 0;
      height: auto;
      margin-right: 0px;
      margin-bottom: 0px;

      h4 {
        font-size: 16px;
      }

      svg {
        margin-right: 15px;
        max-height: 40px;
        width: 40px;
      }
    }

    @include laptop {
      max-height: none;

      h4 {
        font-size: 20px;
      }

      svg {
        margin-right: 20px;
        max-height: 60px;
        width: 60px;
      }
    }
  }

  &__button {
    margin-top: $spacer * 4;
    font-size: 15px;
    width: 100%;
    align-self: center;
    padding: 15px 50px;
    height: 55px;

    @include tablet {
      margin-top: 0px;
      width: 190px;
      padding: 15px 15px;
      text-align: center;
      font-size: 15px;
      grid-column: 1 / span2;
    }

    @include laptop {
      margin: 0 0 0 $spacer * 12;
      font-size: 16px;
      padding: 15px 30px;
      width: 200px;
      height: auto;
    }
  }
}

.gift__list {
  margin-left: $spacer;

  @include tablet {
    margin-left: 20px;
  }

  @include laptop {
    margin-left: 0px;
  }
}
