.rate {
  padding-bottom: 80px;

  @include tablet {
    padding: 150px 0 150px;
  }

  @include laptop {
    padding-top: 50px;
  }

  &__wrapper {
    @include tablet {
      @include flex-row;
    }
  }

  &__cardblock {
    -webkit-transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0);

    @include tablet {
      position: relative;
      @include flex-row;
      margin-left: 150px;
    }

    @include laptop {
      margin-left: 194px;
    }
  }

  &__header {
    margin-bottom: $spacer * 2;

    @include tablet {
      margin-bottom: $spacer * 5;
      h2 {
        font-size: 26px;
        line-height: 135%;
      }
    }

    @include laptop {
      h2 {
        font-size: 32px;
      }
    }
  }

  &__subheader {
    @include font($normal, 15px, $gray);
    line-height: 155%;
    margin-bottom: $spacer * 5;

    @include smartphone {
      font-size: 16px;
    }

    @include laptop {
      font-size: 20px;
      margin-bottom: $spacer * 11;
    }
  }

  &__text {
    @include font($normal, 14px, $gray);
    line-height: 150%;

    @include mobile-s {
      font-size: 15px;
    }

    @include laptop {
      font-size: 16px;
    }
  }

  &__card {
    padding: 0 0 $spacer * 5;
    border-radius: $border-radius-xs;
    border: $border-black;
    position: relative;
    transform: translate3d(0, 0, 200px);
    z-index: 9;
    max-width: calc(100% - 20px);
    min-width: calc(100% - 20px);
    min-height: 458px;
    max-height: 458px;
    margin: 0 auto;

    @include tablet {
      padding: 0 0 $spacer * 4;
      max-width: 334px;
      min-width: 334px;
      min-height: 473px;
      max-height: 473px;
    }

    @include laptop {
      padding: 0 0 $spacer * 8;
      min-width: 394px;
      max-width: 394px;
      min-height: 528px;
      max-height: 528px;
      height: 671px;
    }
  }

  &__card-backgorund {
    position: absolute;
    padding: 0px;
  }

  &__card-backgorund_back {
    z-index: 1;
    transform: translateY(10px);
    min-height: 438px;
    height: 438px;
    max-height: 438px;
    min-width: 100%;

    @include tablet {
      max-width: 414px;
      min-width: 414px;
      min-height: 393px;
      height: 393px;
      max-height: 393px;
      transform: translateX(-40px);
    }

    @include laptop {
      max-width: 474px;
      min-width: 474px;
      min-height: 448px;
      max-height: 448px;
      height: 448px;
    }
  }

  &__card-backgorund_forward {
    z-index: 2;
    max-width: calc(100% - 10px);
    min-width: calc(100% - 10px);
    margin: 0 auto;
    min-height: 448px;
    height: 448px;

    transform: translateX(5px) translateY(5px);

    @include tablet {
      max-width: 374px;
      min-width: 374px;
      min-height: 413px;
      max-height: 413px;
      transform: translateX(-20px);
    }

    @include laptop {
      max-width: 434px;
      min-width: 434px;
      min-height: 488px;
      max-height: 488px;
    }
  }

  &__abon {
    padding-right: $spacer * 2;
    background-color: $orange;
    box-sizing: border-box;
    border-radius: 0px 5px;
    color: $white;
    padding: $spacer * 2;
    max-width: 72px;
    margin-left: auto;
    text-align: center;
    font-size: 14px;

    @include mobile-s {
      max-width: 20%;
    }

    @include smartphone {
      max-width: 20%;
    }

    @include tablet {
      padding-right: $spacer * 4;
      max-width: 84px;
    }

    @include smartphone {
      font-size: 16px;
    }

    @include tablet {
      font-size: 14px;
      padding: $spacer $spacer * 3;
    }

    @include laptop {
      font-size: 20px;
      max-width: 104px;
    }
  }

  &__card-header {
    margin-top: -$spacer * 2;
    margin-bottom: $spacer * 3;
    text-align: center;

    @include tablet {
      margin-bottom: $spacer * 3;
      margin-top: 0px;
      h2 {
        font-size: 22px;
      }
    }

    @include laptop {
      h2 {
        font-size: 26px;
      }
    }
  }

  &__features {
    padding: 0px $spacer * 3;

    @include tablet {
      padding: 0px $spacer * 7;
    }
  }

  &__feature {
    margin-bottom: $spacer * 3;

    @include tablet {
      margin-bottom: $spacer;
    }

    @include laptop {
      margin-bottom: $spacer * 3;
    }
  }

  &__feature-header {
    @include flex-row;
    margin-bottom: $spacer;

    &:last-child {
      margin-bottom: 0px;
    }

    h3 {
      flex-shrink: 0;
    }

    @include smartphone {
      h3 {
        font-size: 20px;
      }
    }

    @include tablet {
      h3 {
        font-size: 16px;
      }
    }

    @include laptop {
      h3 {
        font-size: 20px;
        line-height: 130%;
      }
    }
  }

  &__feature-caption {
    @include font($normal, 14px, $gray2);
    line-height: 150%;
    text-align: left;
  }

  &__tooltip {
    .tooltip__activator {
      margin-left: 7px;

      svg {
        margin-top: -3px;
        circle {
          stroke: $gray2;
        }
        path {
          fill: $gray2;
        }
      }

      &:hover {
        path {
          fill: $white;
        }
      }
    }
  }

  &__tooltip-checklist {
    margin-top: $spacer * 2;
    z-index: 10;
    position: relative;

    li {
      display: flex;
      align-items: flex-start;
      font-size: 14px;
      margin-bottom: $spacer;
      margin-top: 0px;
      line-height: 150%;

      &:last-child {
        margin-bottom: 0px;
      }
    }

    @include tablet {
      margin-top: $spacer * 2;
    }
  }

  &__checklist {
    padding: $spacer 0 $spacer * 5;

    @include tablet {
      padding: 0;
    }
  }

  &__list-item {
    margin: 0 0 $spacer;
    line-height: 155%;
    font-size: 15px;

    &::before {
      margin-right: $spacer * 3;
    }

    @include laptop {
      font-size: 20px;
      margin: 0 0 $spacer * 3;
    }
  }

  &__divider {
    margin: $spacer * 4 0;

    @include tablet {
      margin: $spacer * 4 0 $spacer * 3;
    }

    @include laptop {
      margin: $spacer * 6 0 $spacer * 3;
    }
  }

  &__priceblock {
    @include flex-row;
    padding: 0px $spacer * 3;

    @include mobile-520 {
      justify-content: center;
    }

    @include tablet {
      padding: 0px 47px 0px $spacer * 7;
    }
  }

  &__price {
    margin-right: $spacer * 2;
    align-self: flex-start;
    flex-shrink: 0;

    h1 {
      font-size: 26px;
      line-height: 130%;
    }

    @include tablet {
      flex-grow: 1;
      align-self: center;
      margin-right: $spacer * 5;
      h1 {
        font-size: 22px;
      }
    }

    @include laptop {
      margin-right: $spacer * 5;
      h1 {
        font-size: 36px;
      }
    }
  }

  &__price-caption {
    font-size: 14px;
    line-height: 150%;
    min-width: 141px;

    @include mobile-520 {
      font-size: 16px;
    }

    @include tablet {
      font-size: 14px;
      text-align: left;
    }

    @include laptop {
      max-width: 165px;
    }
  }

  &__buttonblock {
    padding: 0 $spacer * 3;
    margin-top: $spacer * 3;

    @include tablet {
      margin-top: $spacer * 2;
    }

    @include laptop {
      padding: 0 $spacer * 7;
    }
  }

  &__tooltip-header {
    @include font($semi-bold, 16px, $black);
    @include tablet {
      font-size: 16px;
    }
  }

  &__button {
    text-align: center;

    @include tablet {
      font-size: 14px;
    }

    @include laptop {
      font-size: 16px;
    }
  }

  &__eternity {
    margin-right: $spacer;
    align-self: center;
    margin-top: 3px;
  }
}
