$family: 'Manrope';

/* layout*/
@mixin flex-row($align: center) {
  display: flex;
  flex-direction: row;
  align-items: $align;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin center {
  @include flex-row;
  justify-content: center;
}

@mixin fullscreen() {
  height: 100%;
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

/*breakpoints*/
@mixin desktop {
  @media screen and (min-width: 1400px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 960px) {
    @content;
  }
}

@mixin smartphone {
  @media screen and (min-width: 640px) {
    @content;
  }
}

/**only for mobiles**/
@mixin mobile {
  @media screen and (max-width: 641px) {
    @content;
  }
}

/**only for mobiles**/
@mixin smartphone-only {
  @media screen and (max-width: 959px) {
    @content;
  }
}

/**only for 480**/

@mixin mobile-m {
  @media screen and (min-width: 321px) and (max-width: 480px) {
    @content;
  }
}

@mixin mobile-s {
  @media screen and (min-width: 480px) and (max-width: 640px) {
    @content;
  }
}

@mixin mobile-l {
  @media screen and (min-width: 425px) and (max-width: 480px) {
    @content;
  }
}

/*for break on mobile dropdowns in price-table on price page*/
@mixin mobile-375 {
  @media screen and (min-width: 320px) and (max-width: 400px) {
    @content;
  }
}

@mixin mobile-x {
  @media screen and (min-width: 480px) and (max-width: 550px) {
    @content;
  }
}

@mixin mobile-xx {
  @media screen and (min-width: 500px) and (max-width: 640px) {
    @content;
  }
}

@mixin mobile-xxx {
  @media screen and (min-width: 550px) and (max-width: 589px) {
    @content;
  }
}

@mixin mobile-xl {
  @media screen and (min-width: 589px) and (max-width: 640px) {
    @content;
  }
}

@mixin mobile-xxxx {
  @media screen and (min-width: 480px) and (max-width: 600px) {
    @content;
  }
}

@mixin mobile-425 {
  @media screen and (min-width: 375px) and (max-width: 424px) {
    @content;
  }
}

@mixin mobile-336 {
  @media screen and (min-width: 336px) {
    @content;
  }
}

@mixin mobile-362 {
  @media screen and (min-width: 362px) {
    @content;
  }
}

@mixin mobile-380 {
  @media screen and (min-width: 380px) {
    @content;
  }
}

@mixin mobile-390 {
  @media screen and (min-width: 390px) {
    @content;
  }
}

@mixin mobile-414 {
  @media screen and (min-width: 414px) {
    @content;
  }
}

@mixin mobile-477 {
  @media screen and (min-width: 477px) {
    @content;
  }
}

@mixin mobile-520 {
  @media screen and (min-width: 520px) {
    @content;
  }
}

@mixin mobile-660 {
  @media screen and (min-width: 660px) {
    @content;
  }
}

/**only for 1024**/

@mixin tablet-1024 {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

/**only for tablets**/
@mixin tablet-only {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin tablet-768 {
  @media screen and (min-width: 640px) and (max-width: 960px) {
    @content;
  }
}

@mixin tablet-x {
  @media screen and (min-width: 740px) and (max-width: 768px) {
    @content;
  }
}

@mixin tablet-m {
  @media screen and (min-width: 768px) and (max-width: 960px) {
    @content;
  }
}

@mixin tablet-s {
  @media screen and (min-width: 680px) and (max-width: 767px) {
    @content;
  }
}

@mixin tablet-l {
  @media screen and (min-width: 840px) and (max-width: 960px) {
    @content;
  }
}

@mixin tablet-720 {
  @media screen and (min-width: 720px) {
    @content;
  }
}

@mixin tablet-755 {
  @media screen and (min-width: 755px) {
    @content;
  }
}

@mixin tablet-820 {
  @media screen and (min-width: 820px) {
    @content;
  }
}

@mixin tablet-850 {
  @media screen and (min-width: 850px) {
    @content;
  }
}

@mixin tablet-920 {
  @media screen and (min-width: 920px) {
    @content;
  }
}

@mixin tablet-980 {
  @media screen and (min-width: 980px) {
    @content;
  }
}

@mixin laptop-s {
  @media screen and (min-width: 1100px) and (max-width: 1200px) {
    @content;
  }
}

/*fonts*/
@mixin font($weight, $size, $color, $fam: $family) {
  font: $weight $size $fam;
  color: $color;
}

/*etc */
@mixin hidden {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

@mixin visible($transition: none) {
  height: auto;
  opacity: 1;
  transition: $transition;
}

/**safari gap polyfill **/
@mixin gap($right, $bottom) {
  margin-bottom: $bottom;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet() {
    margin-bottom: auto;
    margin-right: $right;

    &:last-child {
      margin-right: 0;
    }
  }
}

/** collapse **/

@mixin collapse {
  max-height: 0px;
  will-change: max-height;
  overflow: hidden;

  &_visible {
    opacity: 0;
    z-index: 6;
  }

  &_active {
    opacity: 1;
    transition: max-height 0.5s, opacity 0.5s;
    max-height: 1400px;
    z-index: 6;

    @include smartphone {
      max-height: 110px;
    }
  }
}

@mixin custom-scrollbar {
  @include tablet {
    scrollbar-gutter: stable;
  }
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    background-clip: content-box;
    width: 0px;
  }

  &::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: $border-radius-xs;
    background-color: $scrollbar-gray;
    background-clip: content-box;

    &:hover {
      background: $gray2;
      border-right: 4px solid transparent;
      border-left: 0px solid transparent;
      border-radius: $border-radius-xs;
      background-clip: content-box;
    }
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}
