$family: 'Manrope';

/* layout*/
@mixin flex-row($align: center) {
  display: flex;
  flex-direction: row;
  align-items: $align;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin center {
  @include flex-row;
  justify-content: center;
}

@mixin fullscreen() {
  height: 100%;
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

/*breakpoints*/
@mixin desktop {
  @media screen and (min-width: 1400px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 960px) {
    @content;
  }
}

@mixin smartphone {
  @media screen and (min-width: 640px) {
    @content;
  }
}

/**only for mobiles**/
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

/**only for 480**/

@mixin mobile-s {
  @media screen and (min-width: 480px) and (max-width: 640px) {
    @content;
  }
}

/**only for 1024**/

@mixin tablet-1024 {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

/*fonts*/
@mixin font($weight, $size, $color, $fam: $family) {
  font: $weight $size $fam;
  color: $color;
}

/*etc */
@mixin hidden {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

@mixin visible($transition: none) {
  height: auto;
  opacity: 1;
  transition: $transition;
}

@mixin gap($right, $bottom) {
  margin-bottom: $bottom;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet() {
    margin-bottom: auto;
    margin-right: $right;

    &:last-child {
      margin-right: 0;
    }
  }
}

@mixin collapse {
  &_visible {
    display: block;
    opacity: 0;
  }

  &_active {
    opacity: 1;
    overflow: visible;
    max-height: 1000px;
    display: block;
  }
}
