/*colors*/
$black: #344351;
$blue: #2b8feb;
$gray: #5e6b77;
$gray2: #9ca5ac;
$light-gray: #f6f7f8;
$dim-gray: #efefef;
$in-gray: #cdd6df;
$scrollbar-gray: #cdd6e0;
$white: #ffffff;
$green: #65d072;
$light-blue: #8ec0ef;
$dark-blue: #1971c2;
$light-green: #abe1b2;
$dark-green: #59c165;
$darker-green: #48ba56;
$deep-blue: #1d7dd6;
$black-shadow: #0000001a;
$dark-orange: #f15018;
$orange: #f88c28;

/*sizes*/
$spacer: 5px;

/*transitions*/
$btn-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
$link-transition: color 0.3s ease;
$icon-transition: fill 0.2s ease, stroke 0.2s ease;
$opacity-transition: opacity 0.3s ease-in-out;
$collapse-transition: 0.6s cubic-bezier(0.4, 0, 0.2, 1),
  opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
$collapse-transition-height: max-height cubic-bezier(0.4, 0, 0.2, 1) 0.6s,
  opacity cubic-bezier(0.4, 0, 0.2, 1) 0.6s, margin 0.1s ease;
$collapse-transition-height-reverse: max-height linear 0.6s, opacity linear 0.6s;
$dropdown-transition: all 0.2s linear;
$card-transition: border 0.3s ease, box-shadow 0.3s ease,
  background-color 0.3s ease;
/**elevations **/
$elevations: (
  1: (
    0 2px 1px -1px rgba(0, 0, 0, 0.1),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12)
  )
);

$card-shadow: 0px 0px 28px rgba(70, 98, 121, 0.14);
$wa-shadow: 0px 4px 10px $black-shadow;

/*borders*/
$border-orange: 1px solid $orange;
$border-radius-xl: 12px;
$border-radius-xs: 5px;

/**z-index **/
$zindex-modal: 100;
$zindex-modal-dialog: 100;
$z-index-hidden: -1;
