/*colors*/
$orange: #f88c28;
$black: #344351;
$blue: #2b8feb;
$gray: #5e6b77;
$light-gray: #f6f7f8;
$white: #ffffff;
$green: #65d072;
$light-blue: #8ec0ef;
$dark-blue: #1971c2;
$light-green: #abe1b2;
$deep-blue: #1d7dd6;


/*sizes*/
$spacer: 5px;

/*transitions*/
$btn-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
$btn-border-radius: 5px;

$opacity-transition: opacity 0.3s ease-out;

/**elevations **/
$elevations: (
  1: (
    0 2px 1px -1px rgba(0, 0, 0, 0.1),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12)
  )
);

/*borders*/
$border-orange: 1px solid $orange;
