@import '../../utils/index';
.office {
  &__scheme {
    display: none;

    @include tablet-s {
      display: block;
      max-width: 500px;
      margin-top: $spacer * 8;
    }

    @include tablet-m {
      display: block;
      max-width: 580px;
      min-width: 500px;
      margin-top: $spacer * 8;
    }

    @include tablet {
      display: block;
      max-width: 452px;
      margin-top: 0px;
    }

    @include laptop {
      margin-left: -$spacer * 14;
      max-width: 602px;
    }
  }

  &__scheme-mobile {
    display: block;
    margin-top: $spacer * 8;
    max-height: 501px;

    @include tablet-s {
      display: none;
    }

    @include tablet-m {
      display: none;
    }

    @include tablet {
      display: none;
    }
  }

  &__article {
    @include tablet {
      max-height: 235px;
    }
  }

  &__hero-imageblock {
    margin-top: $spacer * 2;
    @include tablet {
      img {
        width: 326px;
        height: 356px;
      }
    }
    @include tablet-1024 {
      img {
        min-width: 418px;
        max-width: 418px;
        max-height: 309px;
      }
    }

    @include laptop {
      min-width: 548px;
      max-width: 548px;
      min-height: 300px;
      max-height: 300px;
      width: 548px;
      height: 300px;
      margin-left: $spacer * 5;
      margin-top: $spacer * 2;

      img {
        min-width: 548px;
        max-width: 548px;
        min-height: 300px;
        max-height: 300px;
        width: 548px;
        height: 300px;
      }
    }

    @include desktop {
      margin-left: $spacer * 11;
    }
  }

  &__cards {
    margin-bottom: $spacer * 7;
    @include tablet {
      margin-bottom: 0px;
    }
  }

  &__workcards {
    padding-bottom: 0px;
  }

  &__promophone {
    padding-bottom: $spacer * 5;
  }
}
