@import '../../utils/index';

.phone-replace {
  &__hero-imageblock {
    max-width: 231px;
    min-width: 231px;
    max-height: 165px;
    min-height: 165px;

    img {
      max-width: 231px;
      min-width: 231px;
      max-height: 165px;
      min-height: 165px;
    }

    @include tablet {
      margin-top: 25px;
      margin-left: 0px;

      width: 323px;
      height: 265px;
      max-width: 323px;

      img {
        width: 283px;
        height: 265px;
        max-width: 283px;
        max-height: 265px;
      }
    }

    @include tablet-1024 {
      margin-top: 20px;
      margin-left: 0px;

      width: 323px;
      height: 325px;
      max-width: 323px;
      max-height: 325px;

      img {
        width: 323px;
        height: 325px;
        max-width: 323px;
        max-height: 325px;
      }
    }

    @include laptop {
      max-width: 495px;
      min-width: 495px;
      min-height: 353px;
      max-height: 353px;
      height: 353px;
      width: 495px;
      margin-left: 60px;
      margin-top: -46px;

      img {
        max-width: 495px;
        min-width: 495px;
        min-height: 353px;
        max-height: 353px;
        height: 353px;
        width: 495px;
      }
    }
  }

  &__scheme {
    display: none;
    @include tablet {
      display: block;
      max-width: 400px;
    }

    @include laptop {
      margin-left: 0px;
      max-width: 500px;
    }

    @include desktop {
      margin-left: 8px;
      max-width: 524px;
      min-width: 524px;
      max-height: 165px;
      min-height: 165px;
    }
  }

  &__scheme-mobile {
    display: block;

    max-width: 234px;
    max-height: 381px;
    margin-top: $spacer * 8;

    @include mobile-m {
      margin-right: 0px;
    }

    @include tablet {
      display: none;
    }
  }

  &__header {
    @include laptop {
      max-width: 417px;
    }
  }

  &__cards {
    padding-top: $spacer * 3;
    padding-bottom: 0px;
    margin-bottom: 0px;

    @include tablet {
      padding-top: $spacer * 6;
    }
  }

  &__accent {
    padding: 2px 7px;
    margin-left: -5px;

    @include tablet {
      margin-left: -17px;
      padding: 2px 14px;
    }
  }

  &__caption {
    @include tablet {
      max-width: 440px;
    }

    @include laptop {
      max-width: 540px;
    }
  }
}
