@import '../../utils/index';

.remote {
  &__hero-imageblock {
    img {
      min-width: 267px;
      max-width: 267px;
      max-height: 165px;
      min-height: 165px;
    }

    @include tablet {
      height: 280px;
      width: 320px;
      img {
        height: 280px;
        width: 320px;
        min-height: 280px;
        min-width: 280px;
        max-width: 320px;
      }
    }

    @include tablet-1024 {
      height: 320px;
      width: 380px;
      img {
        height: 320px;
        width: 380px;
        max-width: 380px;
      }
    }

    @include laptop {
      max-width: 479px;
      max-height: 358px;
      min-width: 479px;
      min-height: 358px;
      width: 479px;
      height: 358px;
      margin-left: $spacer * 7;

      img {
        width: 479px;
        height: 358px;
        max-width: 479px;
        max-height: 358px;
      }
    }

    @include desktop {
      max-width: 579px;
      min-width: 579px;
      width: 579px;
      margin-left: $spacer * 11;

      img {
        width: 579px;
        max-width: 579px;
      }
    }
  }

  &__scheme {
    display: none;
    @include tablet-s {
      display: block;
      max-width: 500px;
      margin-top: $spacer * 8;
    }

    @include tablet-m {
      display: block;
      min-width: 500px;
      max-width: 527px;
      margin-top: $spacer * 8;
    }

    @include tablet {
      display: block;
      min-width: 407px;
    }

    @include laptop {
      max-height: 363px;
      min-height: 363px;
      margin-left: $spacer * 3;
      min-width: 527px;
    }
  }

  &__scheme-mobile {
    display: block;
    margin-top: $spacer * 8;

    @include tablet-s {
      display: none;
    }

    @include tablet-m {
      display: none;
    }

    @include tablet {
      display: none;
    }
  }

  &__focus-caption {
    @include tablet {
      white-space: nowrap;
    }
  }

  &__content {
    margin-bottom: 0px;
    padding-bottom: $spacer * 4;

    @include smartphone {
      padding-bottom: $spacer * 10;
    }
  }
}
