.calls {
  &__list {
    @include tablet {
      display: flex;
      margin-top: $spacer * 6;
    }

    @include laptop {
      width: 86%;
    }
  }

  &__list-item {
    display: flex;
    @include font($normal, 15px, $gray);
    line-height: 155%;
    margin-bottom: $spacer;

    @include smartphone {
      font-size: 18px;
    }

    @include tablet {
      font-size: 14.5px;
      line-height: 24.8px;
      margin-bottom: 0px;
      margin-left: $spacer * 3;

      &:first-child {
        margin-left: 0px;
      }
    }

    @include tablet-1024 {
      font-size: 16px;
    }

    @include laptop {
      margin-left: $spacer * 6;
    }
  }
  &__break {
    display: none;
    @include tablet {
      display: inline;
    }
  }
}

.mobile {
  display: flex;

  @include tablet {
    display: none;
  }
}

.tablet {
  display: none;
  @include tablet {
    display: flex;
  }
}

.mobile-375 {
  display: none;

  @include mobile-375 {
    display: flex;
  }
}
