.virtueats {
  &__upside {
    padding: $spacer * 4;

    @include tablet {
      padding: $spacer * 10;
    }
  }

  &__collapse {
    background-color: $light-gray;
  }

  &__activator {
    @include font($normal, 18px, $gray);
    line-height: 130%;
    padding: $spacer * 3 $spacer * 4;

    @include tablet {
      line-height: 155%;
      font-size: 20px;
      padding: $spacer * 6 $spacer * 10 $spacer * 6 $spacer * 10;
    }
  }

  &__cards {
    display: block;
    background-color: $light-gray;
    padding: $spacer * 4;

    @include laptop {
      display: grid;
      grid-template-columns: (repeat(3, 1fr));
      grid-gap: $spacer * 5;
      padding: $spacer * 7 $spacer * 10 $spacer * 10 $spacer * 10;
    }
  }

  &__cards-header {
    @include font($semi-bold, 18px, $black);
    line-height: 130%;
    padding: $spacer * 4;

    @include tablet {
      font-size: 20px;
      padding: $spacer * 4 0px 0px $spacer * 10;
    }
  }

  &__card {
    padding: $spacer * 3;
    margin-bottom: $spacer * 3;
    @include tablet {
      padding: $spacer * 4 $spacer * 11 $spacer * 4 $spacer * 4;
    }
  }

  &__caption {
    @include font(400, 14px, $gray);
    line-height: 150%;
    margin-top: $spacer;
  }

  &__icon {
    max-width: 60px;
    max-height: 60px;
    margin-bottom: $spacer * 2;
  }
}
