.faq {
  background-color: $light-gray;
  padding-bottom: 80px;
  padding-top: 80px;

  @include laptop {
    padding-bottom: 150px;
    padding-top: 150px;
  }

  &__cards {
    margin-top: $spacer * 5;

    @include tablet {
      margin-top: $spacer * 7;
    }

    @include laptop {
      margin-top: $spacer * 11;
    }
  }

  &__card {
    margin-bottom: calc($spacer * 3 - 1px);
    padding: $spacer * 4;
    box-sizing: border-box;
    background: $white;
    border-radius: $border-radius-xl;
    border: 1px solid transparent;
    transition: border 0.3s ease;

    @include laptop {
      padding: $spacer * 10;
    }

    &:hover {
      border-color: $blue;
    }

    :last-child {
      margin-bottom: 0;
    }
  }

  &__arrow {
    width: 25px;
    height: 25px;
    margin-left: auto;

    @include laptop {
      width: 32px;
      height: 32px;
    }
  }

  &__question {
    display: flex;
    align-items: flex-start;
  }

  &__answer {
    p {
      margin-top: $spacer * 2;
    }

    @include font(400, 14px, $gray);
    line-height: 21px;

    @include laptop {
      @include font(400, 16px, $gray);
      line-height: 24.8px;
    }
  }
}
