.pay-minutes {
  margin-top: $spacer * 12;
  background-color: $white;
  margin-bottom: $spacer * 12;

  &__container {
    border-radius: $border-radius-xl;
    align-items: stretch;

    @include tablet {
      align-items: flex-start;
      background-color: $light-gray;
      padding: $spacer * 10;
    }
  }

  @include tablet {
    margin-top: $spacer * 20;
    background-color: $white;
    margin-bottom: 100px;
  }

  &__header {
    display: none;

    @include tablet {
      display: block;
      margin-right: 65px;
      margin-bottom: auto;
      margin-top: 10px;

      @include font(600, 26px, $black);
      line-height: 33.8px;
      margin-bottom: $spacer * 5;
    }

    @include laptop {
      max-width: 235px;
      margin-bottom: 0;
    }

    &_mobile {
      display: block;
      margin-bottom: $spacer * 5;

      @include font(600, 20px, $black);
      line-height: 26px;

      @include tablet {
        display: none;
      }
    }
  }

  &__card-top {
    padding: $spacer * 4;
    background-color: $light-gray;
    max-width: 100%;

    @include tablet {
      padding: $spacer * 6 38px $spacer * 6 $spacer * 6;
      background-color: $white;
      height: 157px;
    }
  }

  &__card-bottom {
    padding: $spacer * 4 $spacer * 4 $spacer * 6;
    min-width: 290px;
    max-width: 100%;

    @include mobile-s {
      padding-left: $spacer * 2;
      padding-right: $spacer * 2;
    }

    @include laptop {
      padding: $spacer * 4 $spacer * 11 $spacer * 4 $spacer * 6;
      display: flex;
      justify-content: space-between;
    }

    @include mobile-s {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      align-items: self-end;
      justify-content: center;
      grid-column-gap: 5px;
      font-size: 12px;
    }

    @include smartphone {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      align-items: self-end;
      justify-content: center;
      grid-column-gap: 10px;
    }

    &_container {
      &:last-child {
        grid-column: 1 / span2;
      }
    }

    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    &_container {
      margin-right: 0;
      align-items: center;
      margin-top: 12px;

      &:first-child {
        margin-top: 0px;
      }

      svg {
        min-height: 15px;
        height: 18px;
        width: 18px;
        margin-right: 5px;
      }

      @include tablet {
        margin-top: 0px;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }

        svg {
          width: 28px;
          height: 28px;
        }
      }

      @include laptop {
        align-items: center;
        justify-content: space-between;
      }

      @include desktop {
        align-items: center;
      }
    }
  }

  &__card-header {
    margin-bottom: $spacer * 3;

    @include tablet {
      margin-bottom: $spacer * 4;
    }
  }

  &__chips {
    height: auto;
    @include flex-col;
    box-sizing: border-box;

    @include tablet {
      @include flex-row;
    }
  }

  &__chip {
    padding: $spacer * 2 0;
    border-radius: $border-radius-xs;
    margin-bottom: $spacer * 2;
    text-align: center;
    display: flex;
    @include font(500, 14px, $black);
    line-height: 21px;
    width: 250px;
    justify-content: center;
    border: 1px solid $dim-gray;

    @include tablet {
      display: flex;
      justify-content: center;
      align-items: center;
      @include font(600, 14px, $black);
      line-height: 21px;
      margin-right: $spacer;
      margin-bottom: 0px;
      min-width: 121px;
      max-width: 183px;
      height: 51px;

      justify-content: initial;
      box-sizing: border-box;
    }

    &:nth-child(2) {
      display: none;
      @include tablet {
        display: block;
        width: 148px;
        display: flex;
        justify-content: center;
      }
    }

    &:first-child {
      display: none;

      @include tablet {
        display: block;
        width: 121px;
        display: flex;
        justify-content: center;
      }
    }

    &:last-child {
      width: 100%;
      @include tablet {
        margin-right: 0;
        font-weight: 400;
        width: 183px;
        display: flex;
        justify-content: center;
      }
    }

    &:nth-child(4) {
      width: 100%;
      @include tablet {
        font-weight: 400;
        width: 175px;
        display: flex;
        justify-content: center;
      }
    }

    &_mobile {
      @include font(600, 14px, $black);
      margin-bottom: $spacer * 2;
      padding: $spacer * 2;
      text-align: center;
      width: calc(100% - 20px);
      border-radius: $border-radius-xs;
      border: 1px solid $dim-gray;

      @include tablet {
        display: none;
      }
    }
  }

  &__card-textblock {
    margin-left: 0px;
    align-items: baseline;
    font-size: 15px;

    @include mobile-s {
      .text_semibold {
        font-size: 14px;
      }

      @include smartphone {
        .text_semibold {
          font-size: 15p;
        }
      }
    }

    .tooltip__activator {
      max-width: 18px;
    }

    @include tablet {
      margin-left: $spacer * 2;
    }
  }

  &__tooltip-top-content {
    display: none;
  }

  &__tooltip-top-activator {
    margin-left: $spacer * 2;
  }

  &__tooltip-bot-content {
    display: none;
  }

  &__tooltip-bot-activator {
    justify-self: flex-end;
    margin-left: $spacer;

    svg {
      height: 15px;
      width: 15px;
    }

    @include tablet {
      margin-left: $spacer;
      margin-top: $spacer;
    }
  }
}

.chip-text {
  @include tablet {
    margin-left: 0px;
  }
}

.chip-text__container {
  @include tablet {
    align-items: baseline;
  }
}

.pay-minutes__tooltip {
  max-width: 20px;
}

.mobile_flex {
  @include mobile-s {
    display: flex;
    flex-direction: row;

    flex: 1;

    .text_caption {
      font-size: 14px;
    }
  }

  @include smartphone {
    display: flex;
    flex-direction: row;
    .text_semibold {
      font-size: 16px;
    }

    .text_caption {
      font-size: 16px;
    }
  }

  @include tablet {
    flex-direction: column;

    .text_semibold {
      font-size: 15px;
    }

    .text_caption {
      font-size: 14px;
    }
  }
}
